---
_fieldset: page
title: Contact
_template: default-blank
upload: ""
_layout: tvpp-default
breadcrumbs: 'true'
---




<section id="contact" style="margin-top: 0px; margin-bottom: 50px">


<div class="container">
	<div class="col-md-2">
	</div>
	<div class="col-md-9">
		<div>
			<h1 class="main-head border-bottom">Contact</h1>




      <div style="margin-top: 35px; margin-bottom: 45px">

  {{theme:partial src="tvpp-bios"}}
      </div>




      <hr>

<strong>Targeted Violence Prevention Program</strong><br>
Illinois Criminal Justice Information Authority<br>
300 W. Adams Street, Suite 200<br>
Chicago, Illinois 60606<br>
T: 312-793-8550<br>
C: 312-497-4236<br>
E: <a href="email: junaid.afeef@illinois.gov">junaid.afeef@illinois.gov</a><br><br><br>

<strong>Illinois Criminal Justice Information Authority</strong><br>

300 W. Adams Street, Suite 200<br>
Chicago, Illinois 60606<br>
T: 312-793-8550<br>
F: 312-793-8422<br>
E: <a href="email: cja.info@illinois.gov">cja.info@illinois.gov</a><br>

<br>

<!-- {{ email_form subject="Contact Form" to="christopher.schweda@illinois.gov" required="first-name" }}
    {{ if error}}
        <h1>Error</h1>
        <ul>
        {{ errors }}
            <li>{{error}}</li>
        {{ /errors }}
        </ul>
    {{ endif }}

    {{ if success }}
        <p>Your message has been sent!</p>
    {{ else }}
	<fieldset>
		<label>Your Name:</label>
		<div class="form-left">
			<label class="small">First Name<span class="required">*</span></label>
			<input type="text" name="first-name" class="text-field" id="first-name" size="50" value="" />
		</div>
		<div class="form-right">
			<label class="small">Last Name<span class="required">*</span></label>
			<input type="text" name="last-name" class="text-field" id="last-name" size="50" value="" />
		</div>
		<div class="form-left">
			<label>Email Address<span class="required">*</span></label>
			<input type="text" name="from" class="text-field" id="email" size="50" value="" />
		</div>

		<div class="form-left">
			<label>Your Message<span class="required">*</span></label>
			<textarea name="message" id="message" rows="18" cols="34"></textarea>
		</div>
		<div class="form-right">
			<input type="submit" class="button small" value=" Submit Form " />
		</div>
	</fieldset>
    {{ endif }}
{{ /email_form }} -->






		</div>
	</div>
</div>
</section>
