---
_fieldset: page
title: Articles
splash: ""
upload: ""
breadcrumbs: 'true'
_template: page
summary: Recently published articles and analysis
---


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">



	{{ entries:listing folder="articles" limit="15" }}
	    {{ if no_results }}
		  <p class="sorry">

			Check back soon.
		  </p>
	    {{ else }}

      <h5>
    		{{ if use_context }}<a href="{{ url }}">{{ endif }}{{ title|widont }}{{ if use_context }}</a>{{ endif }}
    	</h5>

      <h6 class="published">
        {{ date }}
      | {{ pubtype_url_list }}
      | {{ area_url_list }}</h6>

      <div style="margin-left: 10px; ">
        {{if splash}}
        <img src="{{ transform src="{splash}" width="125"}}"
            style="float: left; padding-right: 14px;" />
        {{endif}}{{ teaser }}

      </div>

      <h6 class="published">
      	By {{ authors_sentence_url_list|title }}</h6>


        <div style="height: 40px"></div>





	    {{ endif }}
	{{ /entries:listing }}


  </div>



</div>
</div>
