<h3 style="margin-bottom: 20px;">Frequently Asked Questions</h3>

<div class="panel-group" id="accordion-foia-inner" style="margin-top: 30px; margin-left: 30px">
  <!-- <div class="faqHeader">Frequently Asked Questions</div> -->


  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
What is FOIA?</a>
          </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
              <p>FOIA is the Illinois Freedom of Information Act (FOIA). Under the Illinois Freedom of Information Act (5 ILCS 140), records in possession of public agencies may be accessed by the public upon written request.</p>

<p>Pursuant to 5 ILCS 140, Section 2(c), a public record is any records, reports, forms, writings, letters, memoranda, books, papers, maps, photographs, cards, tapes, recordings, electronic data processing records, recorded information and all other documentary materials, regardless of physical form or characteristics, having been prepared, or having been or being used, received, possessed or under the control of any public body. There are records that the Authority does not have to release. A list of these records can be found at 5 ILCS 140/7 and 5 ILCS 140/7.5.</p>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
              How can I submit a FOIA request?
              </a>
          </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body">
          FOIA request must be made in writing, and may be submitted by any method such as use of the <a href="/foia">Internet FOIA web form</a>, Fax, US Mail or special carrier (UPS, FedEx, etc).
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                To whom do I submit my FOIA request?
              </a>
          </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
          <div class="panel-body">
            <p>You are encouraged to submit your request through the <a href="/foia/">FOIA web form</a>. Any follow-up inquiries that you may have on the status of your request, on-site record review appointments, record duplication fees or copy contractor questions should be directed to Abraham Zisook at (312) 793-8550.</p>

<p>FOIA requests that are sent via Fax, U.S. Mail or special carrier should be directed to:</p>

<p>FOIA Officer<br/>
Abraham Zisook<br />
Associate General Counsel<br/>
Illinois Criminal Justice Information Authority<br/>
300 W. Adams St., Suite 200<br/>
Chicago, IL 60606<br/>
Fax: 312-793-8422<br />
Email: <a href="mailto:CJA.FOIA@illinois.gov">CJA.FOIA@illinois.gov</a></p>
          </div>
      </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
                What information is to be included in my FOIA request?
              </a>
          </h4>
      </div>
      <div id="collapseTwelve" class="panel-collapse collapse">
          <div class="panel-body">
            <p>By using the <a href="/foia/">FOIA web form</a> to submit your request; you will be prompted to include the information necessary to process your request. The online request form will conveniently guide you through the request and help to ensure that the request is complete.</p>

<p>By using the <a href="/foia/">online form</a>, your request will automatically be directed to the ICJIA FOIA coordinator, avoiding delays in mailing and routing paper requests.</p>

<p>If you submit your request by fax, U.S. Mail or special carrier, the request should state that you are requesting the information under the Freedom of Information Act and must clearly describe the information being sought. Each request must also include full contact information for the requestor.</p>
          </div>
      </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
              What happens after I submit my request?
              </a>
          </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse">
          <div class="panel-body">
          <p> The Authority will respond within 5 business days of receipt of the request. A 5-business day extension is allowed from the original due date.</p>

<p>If the requested records are more than 50 pages, a fee of 15 cents per page, or less, will be charged. The requestor will be notified of the fees that will be charged before the documents are sent.</p>


<p>Requestors will also be given the opportunity to narrow the scope of their request if their request is unduly burdensome.</p>
          </div>
      </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                  Is there a fee associated with a FOIA request?
              </a>
          </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body">
            <p>In some cases, yes. Here's the fee breakdown:</p>

  <table summary="ICJIA FOIA Duplication Fees" class="table table-striped">
    <thead>
      <tr>
        <th style="text-align: left; font-size: 12px; background: #ddd; ">Type of Duplication</th>
        <th style="text-align: left;font-size: 12px; background: #ddd; ">Fees (per copy)</th>
      </tr>
    </thead>
    <tbody style="text-align: left; border-top:1px solid #bbb; border-bottom:1px solid #bbb; background:#eee;}">
      <tr style="background:#fff; ">
        <td style="padding: 5px; margin: 5px;">Black and white, (letter or legal size) paper  copies, up to and including 50 copies</td>
        <td style="padding: 5px; margin: 5px;"><strong>No Charge</strong></td>
      </tr>
      <tr style="background:#fff;">
        <td style="padding: 5px; margin: 5px;">Black and white, (letter or legal size) paper  copies, in excess of 50 copies</td>
        <td style="padding: 5px; margin: 5px;"><strong>$.15/page</strong></td>
      </tr>
      <tr style="background:#fff;">
        <td style="padding: 5px; margin: 5px;">Color copies (any paper size) or black and white  copies not on letter or legal size paper</td>
        <td style="padding: 5px; margin: 5px;"><strong>Reasonable cost of reproduction</strong></td>
      </tr>
    </tbody>
  </table>

<p>Fees may be waived or reduced under certain circumstances.
In general, the waiver or reduction of fees will be granted when it is determined to be in the public interest to do so
(5 ILCS 140/6). If a fee is required, information
will not be released until the fee is paid in full. </p>

          </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                  How do I appeal an agency decision?
              </a>
          </h4>
      </div>
      <div id="collapse15" class="panel-collapse collapse">
          <div class="panel-body">
            <p>You have the right to have the denial of your request reviewed by the Public Access Counselor (PAC) at the Office of the Illinois Attorney General <a href="http://www.ilga.gov/commission/jcar/admincode/002/002018280E05050R.html" target="_blank"><strong>5 ILCS 140/9.5(a)</strong></a>. You can file your Request for Review with the PAC by writing to:</p>
<p>Public Access Counselor <br>
Office of the Attorney General <br>
500 South 2nd Street <br>
Springfield, Illinois 62706 <br>
Fax: 217-782-1396 <br>
E-mail: <a href="mailto:publicaccess@atg.state.il.us"><strong>publicaccess@atg.state.il.us</strong></a> </p>
<p>If you choose to file a Request for Review with the PAC, you must do so within 60 calendar days of the date of the denial letter. Please note that you must include a copy of your original FOIA request and the denial letter when filing a Request for Review with the PAC.
You also have the right to seek judicial review of your denial by filing a lawsuit in the state circuit court.
</p>

          </div>
      </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                Do you maintain individual criminal history records?
              </a>
          </h4>
      </div>
      <div id="collapse16" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
No. Criminal history records are only available from the <a href="http://www.isp.state.il.us/crimhistory/chri.cfm" target="_blank"><strong>Illinois State Police</strong></a>.

          </div>
      </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                    Can I request a copy of a court record from the Authority?
              </a>
          </h4>
      </div>
      <div id="collapse17" class="panel-collapse collapse">
          <div class="panel-body">
            <p>No. The Authority does not maintain copies of court records. These records must be requested from the Circuit Court Clerks in which the court proceeding occurred. A list of contact information for the Circuit Court Clerks can be found <a href="http://www.state.il.us/court/CircuitCourt/CircuitCourtJudges/CCC_District.asp"><b>here</b></a>.</p>


          </div>
      </div>
  </div>




</div>
