<table class="table table-striped about-icjia-table table-bottom-re">
<thead>
<tr>
  <th colspan="2">2014 Authority Budget Committee Meetings
  </th>

</tr>
</thead>
<tbody>
  <tr>
    <td width="50%">December 5, 2014
    </td>
    <td>

        <a href="/assets/pdf/budget/Minutes/2014/MINUTES_120514.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>


  </tr>


  <tr>
    <td>October 10, 2014
    </td>
    <td>
      <a href="/assets/pdf/budget/Materials_101014.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2014/MINUTES_101014.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>


  </tr>

  <tr>
    <td>August 6, 2014
    </td>
    <td>
      <a href="/assets/pdf/budget/Materials_080614.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2014/MINUTES_080614.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>

  <tr>
    <td>June 27, 2014
    </td>
    <td>
    <a href="/assets/pdf/budget/Materials_062714.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2014/MINUTES_062714.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>

  <tr>
    <td>May 7, 2014
    </td>
    <td>

      <a href="/assets/pdf/budget/Materials_050714.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2014/MINUTES_050714.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>


  <tr>
    <td>April 9, 2014
    </td>
    <td>
      <a href="/assets/pdf/budget/Materials_040914.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2014/MINUTES_040914.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>








<tr>
  <td>March 7, 2014
  </td>
  <td>

      <a href="/assets/pdf/budget/Minutes/2014/MINUTES_030714.pdf">Minutes</a>
      &nbsp;|&nbsp;
      <a href="/assets/pdf/">Actions Taken</a>

  </td>

</tr>


<tr>
  <td>February 4, 2014
  </td>
  <td>
    <a href="/assets/pdf/budget/Budget_Committee_Materials_020414.pdf">Materials</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/assets/pdf/budget/Minutes/2014/MINUTES_020414.pdf">Minutes</a>
      &nbsp;|&nbsp;
      <a href="/assets/pdf/">Actions Taken</a>

  </td>

</tr>


</tbody>
</table>





<!--


<table class="table table-striped about-icjia-table table-bottom-re">
<thead>
<tr>
  <th colspan="2">2013 Authority Budget Committee Meetings
  </th>

</tr>
</thead>
<tbody>
  <tr>
    <td>December 6, 2013
    </td>
    <td>

        <a href="/assets/pdf/budget/Minutes/2013/Minutes_120613.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>


  </tr>


  <tr>
    <td>September 25, 2013
    </td>
    <td>
    <a href="/assets/pdf/budget/Materials_092513.PDF">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2013/Minutes_092513.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>


  </tr>

  <tr>
    <td>September 6, 2013
    </td>
    <td>
      <a href="/assets/pdf/">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2013/Minutes_090613.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>

  <tr>
    <td>July 29, 2013
    </td>
    <td>
      <a href="/assets/pdf/budget/Materials_072913.PDF">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2013/Minutes_072913.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>

  <tr>
    <td>June 25, 2013
    </td>
    <td>
      <a href="/assets/pdf/budget/Materials062513 v3.PDF">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2013/Minutes_062513.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>


  <tr>
    <td>June 7, 2013
    </td>
    <td>

        <a href="/assets/pdf/budget/Minutes/2013/Minutes_060713.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>

  <tr>
    <td>April 22, 2013
    </td>
    <td>
      <a href="/assets/pdf/budget/Budget_Materials_042213.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/budget/Minutes/2013/Minutes_042213.pdf">Minutes</a>
        &nbsp;|&nbsp;
        <a href="/assets/pdf/">Actions Taken</a>

    </td>

  </tr>








</tr>

<tr>
  <td>March 1, 2013
  </td>
  <td>
    <a href="/assets/pdf/">Materials</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/assets/pdf/budget/Minutes/2013/Minutes_030113.pdf">Minutes</a>
      &nbsp;|&nbsp;
      <a href="/assets/pdf/">Actions Taken</a>

  </td>

</tr>

<tr>
  <td>January 30, 2013
  </td>
  <td>
    <a href="/assets/pdf/budget/Materials_013013.pdf">Materials</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/assets/pdf/budget/Minutes/2013/Minutes_013013.pdf">Minutes</a>
      &nbsp;|&nbsp;
      <a href="/assets/pdf/">Actions Taken</a>

  </td>

</tr>


</tbody>
</table> -->































  <p class="text-center">For meeting material prior than January, 2014, please see our <a href="/about/meeting-archive">meeting archive</a>.</p>
