<style>
    .faqHeader {
        font-size: 27px;
        margin-bottom: 20px;
        margin-top: 40px;
        padding: 5px 10px 5px 10px;
        font-family: 'Oswald', sans-serif;

    }

    .panel-title {font-size: 14px}

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'FontAwesome';
         content: "\f0d7";
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        /*-webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);*/
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }

    .strong {font-weight: 700}
</style>





<div class="panel-group" id="accordion-documents" style="margin-top: 30px">



    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#docOne">Grants</a>
            </h4>
        </div>
        <div id="docOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Each    grant consists of an interagency agreement, a program narrative (Exhibit A),    and budget and budget narrative (Exhibit B).     The grant master file would also contain required data and fiscal    reports, and other documents related to monitoring the grant. </p>


            <table class="table table-striped">

              <tr>
                <td class="strong" ><p>Byrne Formula Grant Program</p></td>
                <td valign="bottom"><p>This    program is designed to provide financial assistance to state and units of    local government, for the purpose of increasing the apprehension,    prosecution, adjudication, detention, rehabilitation, eradication, and    treatment of persons who violate state and local laws relating to violent    crime, the production, possession and transfer of controlled substances, and    to improve the criminal justice system. This grant has been discontinued by    the federal government and replaced by JAG.</p></td>
              </tr>

              <tr>
                <td class="strong"><p>CMA</p></td>
                <td ><p>The    Edward Byrne Memorial Discretionary Grants Program (Byrne Discretionary    Program) helps local communities improve the capacity of local justice    systems and provides for national support efforts. Funds should be used for    purposes mandated by Congress.  In    2008, Metropolitan Family Services was invited to apply for a grant to combat    elder abuse in the Illinois’ Second Congressional District. Metropolitan    Family Services partner with the law enforcement, geriatricians, attorneys    and other key services to create the Coordinated Response Initiative (CRI)    which will address serious cr</p></td>
              </tr>

              <tr>
                <td class="strong"><p>Juvenile Accountability Block Grant (JABG)</p></td>
                <td ><p>The intent of    the JABG program is to provide states and units of local government with    funds to develop programs to promote greater accountability in the juvenile    justice system. As such, JABG funds must be used to address one or more of    the 12 program purpose areas contained in the legislation which generated the    JABG funds. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>Justice Assistance Grant (JAG) </p></td>
                <td ><p>The JAG program    was designed to streamline justice funding and grant administration. The    program blends funding for Edward Byrne Memorial State and Local Law    Enforcement Assistance (also known as ADAA) and Local Law Enforcement Block    Grant (LLEBG) programs to provide agencies with the flexibility to prioritize    and place justice funds where they are needed most. <br />
                        <br />
                  Byrne grants    supports government programs that enable the enforcement of Illinois drug    laws and help decrease the likelihood of violent crime. JAG funds can be used    for state and local initiatives, technical assistance, training, personnel,    equipment, supplies, contractual support, and information systems for    criminal justice. </p>
                    </td>
              </tr>

              <tr>
                <td class="strong"><p>JAG (ARRA)</p></td>
                <td ><p>JAG    (ARRA) can be used for the same activities as JAG but funded under the    American Recovery and Reinvestment Act of 2009.</p></td>
              </tr>

              <tr>
                <td class="strong"><p>Local Law Enforcement Block Grants Program  (LLBG)</p></td>
                <td ><p>LLBG grants are    provided to local governments for the purpose of reducing crime and improving    public safety. This grant has been discontinued by the federal government and    replaced by JAG. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>MVTPC Grants</p></td>
                <td ><p>Grant funds awarded by    the Motor Vehicle Theft Prevention Council are used to improve motor vehicle    theft law enforcement by establishing and supporting multijurisdictional task    forces, investigative teams, and other anti-theft efforts throughout the state.</p></td>
              </tr>

              <tr>
                <td class="strong"><p>National Instant Criminal Background Check    System Act Record Improvement Program (NARIP)</p></td>
                <td ><p>The    purpose of the NARIP grant is to improve the records utilized by NICS by    providing assistance to states to improve the completeness, automation, and    transmittal of records to state and federal systems. Such records include    criminal history records, records of felony convictions, warrants, records of    protective orders, convictions for misdemeanors involving domestic violence    and stalking, records of mental health adjudications, and others, which may    disqualify an individual from possessing or receiving a firearm under federal    law. Helping states to automate these records will also reduce delays for    law-abiding gun purchasers.</p></td>
              </tr>

              <tr>
                <td class="strong"><p>National Criminal History Improvement Program (NCHIP)</p></td>
                <td ><p>NCHIP    was created to ensure that accurate records are available for use in law    enforcement, including sex offender registry requirements, and to protect    public safety and national security. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>National Forensic Science Improvement Act (NFSIA)</p></td>
                <td ><p>In    general, the NFSIA program provides funding to crime laboratories and medical    examiner's offices through the State Administrating Agency (SAA) based on    population and crime statistics. The program permits funding for expenses    related to facilities, personnel, computerization, equipment, supplies,    accreditation, certification, education, and training. NFSIA requires that    States receiving a grant under the program use the award to carry out all or    a substantial part of a program to improve the quality and timeliness of    forensic science or medical examiner services in the State. Included are    those services provided by laboratories or medical examiner's offices    operated by the State and those operated by units of local government within    the State. Funds may not be used for any general law enforcement or    non-forensic investigatory function. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>Post-conviction DNA test (PDNAT)</p></td>
                <td ><p>PDNAT    grant program provides funding to help defray the costs associated with    post-conviction DNA testing of forcible rape, murder, and non-negligent    manslaughter cases in which actual innocence might be demonstrated. Funds may    be used to review such post-conviction cases and to locate and analyze    biological evidence associated with these cases. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>President-Elect    Security Assistance Reimbursement Program (PESAR)</p></td>
                <td ><p>PESAR    provides reimbursement funds for state and local agencies that engaged in    security-related activities for the President-elect during the period of    11:00 p.m. (Eastern Time) November 4, 2008, through 11:59 p.m. (Eastern Time)    January 18, 2009.  </p></td>
              </tr>

              <tr>
                <td class="strong"><p>Project Safe Neighborhoods (PSN)</p></td>
                <td ><p>PSN is a    nationwide commitment to reduce gun crime in America by networking existing    local programs that target gun crime and providing these programs with    additional tools necessary to be successful. This funding is being used to    hire new federal and state prosecutors, support investigators, provide    training, distribute gun lock safety kits, deter juvenile gun crime, and    develop and promote community outreach efforts as well as to support other    gun violence reduction strategies. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>PSN Anti-gang</p></td>
                <td ><p>PSN    anti-gang is a nationwide commitment to reduce gang crime in America by    networking existing local programs that target gun crime and providing these    programs with additional tools necessary to be successful. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>Residential    Substance Abuse Treatment (RSAT)</p></td>
                <td ><p>The    RSAT program provides grants to assist states and units of local governments    with developing and implementing residential substance abuse programs within    state and local correctional facilities. </p></td>
              </tr>

              <tr>
                <td class="strong" ><p>Sex Offender Registration and Notification Act (SORNA)</p></td>
                <td ><p>The Sex Offender Registration and Notification Act (SORNA) is Title I of the Adam Walsh Child Protection and Safety Act of 2006 (Public Law 109-248). SORNA provides a comprehensive set of minimum standards for sex offender registration and notification in the United States. SORNA aims to close potential gaps and loopholes that existed under prior law and generally strengthens the nationwide network of sex offender registration and notification programs. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>Violence Against Women Act (VAWA) </p></td>
                <td ><p>VAWA     grants are available to assist    governments in developing, implementing and strengthening effective law    enforcement strategies to combat violent crimes against women, to improve the    criminal justice system's response to violence against women, and to develop    and strengthen victim services.</p></td>
              </tr>

              <tr>
                <td class="strong" ><p>VAWA ARRA</p></td>
                <td ><p>VAWA    ARRA can be used for the same activities as VAWA but funded under the    American Recovery and Reinvestment Act of 2009. </p></td>
              </tr>

              <tr>
                <td class="strong"><p>Violence Against Women Act Rural Program    (VAAWA Rural) </p></td>
                <td ><p>VAWA    Rural recognizes that child, youth and adult victims of domestic violence,    dating violence, sexual assault and stalking living in rural jurisdictions    face unique barriers to receiving assistance and additional challenges rarely    encountered in urban areas. The geographic isolation, economic structure,    particularly strong social and cultural pressures, and lack of available    services in rural jurisdictions significantly compound the problems    confronted by those seeking support and services to end the violence in their    lives and complicate the ability of the criminal justice system to    investigate and prosecute domestic violence, dating violence, sexual assault    and stalking cases. In addition, socio-cultural, economic, and geographic    barriers create difficulties for victim service providers and other social    services professionals to identify and assist victims of these crimes.  </p></td>
              </tr>

              <tr>
                <td class="strong"><p>Violence Against Women Act Sexual Assault    Service Program (SASP) </p></td>
                <td ><p>VAWA    SASP was created in the reauthorization of the VAWA in 2005. It is a formula    grant awarded by the U.S. Department of Justice’s Office of Violence Against    Women. SASP is the first federal funding stream solely dedicated to the    provision of direct intervention and related assistance for victims of sexual    assault. Overall, the purpose of SASP is to provide intervention, advocacy,    accompaniment, support services, and related assistance for adult, youth, and    child victims of sexual assault, family and household members of victims, and    those collaterally affected by the sexual assault.</p></td>
              </tr>

              <tr>
                <td class="strong"><p>Violent Offender Incarceration and    Truth-In-Sentencing Incentive(VOITIS) </p></td>
                <td ><p>The    VOITIS grants program is to provide assistance to state and local governments    to construct, expand, develop, modify, operate or improve correctional    facilities.</p></td>
              </tr>

              <tr>
                <td class="strong"><p>Victims of Crime Act (VOCA) </p></td>
                <td ><p>VOCA    was established in 1984 as a special fund to hold criminal fines that are    collected from persons convicted of federal crimes. Grants are made available    for state assistance based on population and made available for a variety of    victim programs statewide. Funds are used only for providing direct services    to victims of crime.</p></td>
              </tr>

              <tr>
                <td class="strong"><p>VOCA ARRA</p></td>
                <td ><p>VOCA    ARRA can be used for the same activities as VOCA but funded under the    American Recovery and Reinvestment Act of 2009.</p></td>
              </tr>

              </table>
            </div>



        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#docTwo">Office Records</a>
            </h4>
        </div>
        <div id="docTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>General    records created and maintained by the Authority during its normal course of    operations. </p>

              <table class="table table-striped" >



  <tr>
    <td class="strong"><p>Agendas    and minutes of Illinois Criminal Justice Information Authority Board and    Subcommittee meetings</p></td>
    <td ><p>In    compliance with the Open Meeting's Act, the Authority creates agendas for all    meetings and minutes are taken (<a href="/about">Meeting Agendas and Minutes are Archived on the Authority's website under About section</a>).  </p></td>
  </tr>
    <tr>
    <td class="strong"><p>Agendas    and minutes of the Illinois Integrated Justice Information System (IIJIS) committee    and subcommittee meetings</p></td>
    <td ><p>In    compliance with the Open Meeting's Act, IIJIS creates agendas for all    meetings and minutes are taken.</p></td>
  </tr>

  <tr>
    <td class="strong"><p>Agendas    and minutes of the Illinois Motor Vehicle Theft Prevention Task Force    (IMVTPTF) meetings</p></td>
    <td ><p>In    compliance with the Open Meeting's Act, IMVTPTS creates agendas for all    meetings and minutes are taken.</p></td>
  </tr>

  <tr>
    <td class="strong"><p>Human    Resources Records</p></td>
    <td ><p>All    records concerning the employees of the Authority. </p></td>
  </tr>

  <tr>
    <td class="strong"><p>Grant    Administration</p></td>
    <td ><p>Applications,    required data and fiscal reports, correspondence and other required documents    for our federal awards.</p></td>
  </tr>

  <tr>
    <td class="strong"><p>Grant    Guideline</p></td>
    <td ><p>Guidelines    for the various grant programs that the Authority administers. </p></td>
  </tr>

  <tr>
    <td class="strong"><p>GMIS</p></td>
    <td ><p>Grant    Management Information System is the Authority's grant management database.    The database shows grant status, fiscal expenditures, and basic grant    information. This database can be searched by grant type (see above for    various grant types), grant number (please refer to the online Attachment As    at    http://www.icjia.state.il.us/public/index.cfm?metaSection=forms&amp;metapage=grants),    grant start and dates. </p></td>
  </tr>

  <tr>
    <td class="strong"><p>Inventory    Records</p></td>
    <td ><p>A    yearly account of the locations of all equipment in the agency over $500.</p></td>
  </tr>

  <tr>
    <td class="strong"><p>Procurement    Records</p></td>
    <td ><p>All    records retaining to procurements made by the Authority, which include but    not limited to procurement for equipment, conference facilities, and    professional and artistic services. </p></td>
  </tr>

  <tr>
    <td class="strong"><p>Travel    Records</p></td>
    <td ><p>Contains    agency employees' request for travel. It also contains completed travel    vouchers for reimbursement and invoice showing payment.</p></td>
  </tr>

  <tr>
    <td class="strong"><p>Vehicle    records</p></td>
    <td ><p>All    records in regards to the Authority's fleet of cars. These records include    request for use of the vehicle, maintained records, and receipts for gas    purchases.</p></td>
  </tr>

  <tr>
    <td class="strong"><p>Vendor    Contracts</p></td>
    <td ><p>Contracts    for vendor used by the Authority</p></td>
  </tr>

  <tr>
    <td class="strong"><p>Vendor    Payments</p></td>
    <td ><p>Payment    details made to vendors.</p></td>
  </tr>
  </table>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#docThree">
                Publications
                </a>
            </h4>
        </div>
        <div id="docThree" class="panel-collapse collapse">
            <div class="panel-body">

            <p>The Authority's <a href="/research/">Research and Analysis Unit</a> produces publications on various    criminal justice topics.</p>
            <table class="table table-striped" >


<tr>
<td ><p>Research    Reports</p></td>
<td ><p>Final    reports of research projects conducted by staff or contracted university    partners.</p></td>
</tr>

<tr>
<td ><p>Research    Bulletins / Briefs / Technical Manuals</p></td>
<td ><p>Short    summaries of full research reports, highlighting important findings or    providing user instructions for information systems or other specialized    applications developed by staff.  </p></td>
</tr>

<tr>
<td ><p>Trends    &amp; Issues</p></td>
<td ><p>Reports    that profile statistical trends and emerging issues within the Illinois    criminal and juvenile justice system. </p></td>
</tr>

<tr>
<td ><p>Brochures</p></td>
<td ><p>Brief    safety, crime prevention, and victims’ rights materials aimed at a general    audience. </p></td>
</tr>

<tr>
<td ><p>On Good Authority</p></td>
<td ><p>A periodic briefing on statistical trends and topics in criminal justice research and program evaluation. </p></td>
</tr>

<tr>
<td ><p>The Complier</p></td>
<td ><p>The Authority's newsletter, published on a quarterly basis. </p></td>
</tr>

<tr>
<td ><p>Research at a Glance</p></td>
<td ><p>A quick fact sheet summarizing the latest ICJIA research and reports. </p></td>
</tr>

<tr>
<td ><p>Program Evaluation Summary</p></td>
<td ><p>Summaries of program evaluation projects conducted by contracted university partners. </p></td>
</tr>

<tr>
<td ><p>Implementing Balanced and Restorative Justice: A Guidebook Series (BARJ)</p></td>
<td ><p>A series of guides designed to assist in the statewide promotion of balanced and restorative justice at various stages in the criminal justice system. </p></td>
</tr>

<tr>
<td ><p>Get the Facts</p></td>
<td ><p>A series of one-page fact sheets created to answer common questions about the    criminal justice system.  </p></td>
</tr>

<tr>
<td ><p>Metropolitan Enforcement Group (MEG) and Task Force Profiles</p></td>
<td ><p>Reports  providing general overviews of the drug and violent crime problem in the jurisdictions covered by Illinois’ MEGs and Drug Task Forces, and the response to these problems by the units. </p></td>
</tr>

<tr>
<td ><p>County Profiles</p></td>
<td ><p>Reports that profile statistical trends regarding the extent and nature of drug and violent    crime in each county in Illinois, and the impact these crimes have on the county's criminal justice system.</p></td>
</tr>

<tr>
<td ><p>Juvenile County Profiles</p></td>
<td ><p>Reports that profile statistical trends regarding the extent and nature of juvenile    crime in each county in Illinois, the risk factors associated with juvenile crime involvement, and the impact these crimes have on the county's criminal justice system. </p></td>
</tr>

<tr>
<td ><p>Motor Vehicle Theft Prevention Council Auto Theft Task Force Profiles</p></td>
<td ><p>Reports that provide a general overview of the vehicle theft problem in the areas covered by the Auto Theft Task Forces in Illinois, and the activities the task forces engage in to reduce motor vehicle theft. </p></td>
</tr></table>

            </div>
        </div>
    </div>




</div> <!-- // end panels // -->
