<table class="table table-striped about-icjia-table table-bottom-rule">
<thead>
<tr>
  <th colspan="2">2014 Authority Board Meetings
  </th>

</tr>
</thead>
<tbody>
  <tr>
    <td>December 5, 2014
    </td>
    <td>
      <a href="/assets/pdf/meetings/12-05-14/AuthPacket_12-05-14.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/Meetings/06-05-15/Authority_Board_Meeting_Minutes_120514.pdf">Minutes</a>
    </td>


  </tr>


  <tr>
    <td>October 10, 2014
    </td>
    <td>
      <a href="/assets/pdf/meetings/10-10-14/AuthPacket_10-10-14.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/Meetings/09-05-14/Authority_Board_Meeting_Minutes_071814.pdf">Minutes</a>
    </td>


  </tr>

  <tr>
    <td>July 18, 2014
    </td>
    <td>
      <a href="/assets/pdf/meetings/07-18-14/AuthPacket_07-18-14.pdf">Materials</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/assets/pdf/Meetings/09-05-14/Authority_Board_Meeting_Minutes_071814.pdf">Minutes</a>
    </td>

  </tr>
<tr>
  <td>March 7, 2014
  </td>
  <td>
    <a href="/assets/pdf/meetings/03-07-14/AuthPacket_03-07-14.pdf">Materials</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/assets/pdf/Meetings/06-06-14/Authority_Board_Meeting_Minutes_030714.pdf">Minutes</a>
  </td>

</tr>


</tbody>
</table>
















  <p class="text-center">For meeting material prior than January, 2014, please see our <a href="/about/meeting-archive">meeting archive</a>.</p>
