<span class="article-author-social">

{{if !twitterURL and !facebookURL and !email}}
{{else}}
  <!--&nbsp;&nbsp;|&nbsp;&nbsp;-->

{{endif}}

{{if twitterURL}}
&nbsp;
    <a href="{{twitterURL}}">
      <i class="fa fa-twitter fa-sm"></i>&nbsp;&nbsp;Twitter
    </a>
    &nbsp;
{{/if}}

{{if facebookURL}}
&nbsp;
    <a href="{{facebookURL}}">
      <i class="fa fa-facebook fa-sm"></i>&nbsp;&nbsp;Facebook
    </a>
    &nbsp;
{{/if}}

{{if email}}
&nbsp;
  <a href="mailto: {{email}}">
    <i class="fa fa-envelope fa-sm" style="margin-top: -0.325em"></i>&nbsp;&nbsp;Email
  </a>
  &nbsp;
{{/if}}

</span>
