<!—Include in body statement, above any existing content menu or banners -->

<div class="alert alert-info alert-dismissible" role="alert">

   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

   <p><span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true" style="color: red;"> </span> View up to date information on how Illinois is handling the Coronavirus Disease 2019 (COVID-19) from the <a href="http://www.dph.illinois.gov/topics-services/diseases-and-conditions/diseases-a-z-list/coronavirus"><span style="font-weight: bold; text-decoration: underline">Illinois Department of Public Health</span></a></p>

</div>
