
<!-- <div class="alert alert-info alert-dismissible" role="alert">

   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

   <p>
    <i class="fa fa-medkit fa-2x" aria-hidden="true"></i> View up to date information on Illinois’ Covid-19 vaccine plan and vaccination eligibility from the
    <a href="https://coronavirus.illinois.gov/s/vaccine-plan-overview">State of Illinois Coronavirus Response Site</a><br>
      View ICJIA's <a href="https://icjia.illinois.gov/covid19" target="_blank" style="text-decoration: underline;">COVID-19 Response page</a> for the latest grant and fiscal notifications, resources, and more.</p>

</div> -->

<div class="alert alert-info alert-dismissible" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p style="font-size: 14px;">
     <i class="fa fa-medkit fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;View up to date information on Illinois’ Covid-19 vaccine plan and vaccination eligibility from the
     <a style="text-decoration: underline" href="https://coronavirus.illinois.gov/s/vaccine-plan-overview">State of Illinois Coronavirus Response Site</a> and <a href="https://icjia.illinois.gov/covid19" style="text-decoration: underline">ICJIA's Response Site</a></p>
</div>
