<!-- Navbar component
================================================== -->
{{theme:partial src="icjia-off-canvas-menu"}}
<nav class="navbar navbar-default navbar-fixed-top" id="gata-top" role="navigation" style="display: none">
<div id="navContainer" class="container">
<div class="navbar-header page-scroll">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </button>
  <div id="icjia-button-bar" style="display: inline; float: left; margin-top: 12px; margin-left: 8px">
    <a class="offCanvasButton btn btn-sm btn-default  hidden-xs" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"
    style="display: none; background: #ddd; color: #000;">
    <i class="fa fa-bars fa"></i></a>

  </div>

  <a class="navbar-brand page-scroll" href="#page-top"> <span class="navbar-brand-illinois" >ILLINOIS</span> <span class="navbar-brand-gata" style="font-weight: 900">| Data-Driven Health & Justice</a></span> </a>
  <a id="gata-mini" href="#page-top" class="page-scroll" style="color: #000;">ILLINOIS | <span class="gata-red">DDHJ</span></a>

</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav navbar-right" style="text-transform: uppercase">
    <li> <a href="#about" class="navLink menuTop page-scroll">About</a> </li>
    <li> <a href="#webinar" class="navLink menuTop page-scroll">Webinar</a> </li>
    <li> <a href="#conference" class="navLink menuTop page-scroll">Conference</a> </li>
    <li> <a href="#press" class="navLink menuTop page-scroll">Press</a> </li>
    <li> <a href="#resources" class="navLink menuTop page-scroll">Resources</a> </li>












          <!--nav search form-->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
