<div class="sidebar" style="">
<h4 class="text-center" style="font-family: 'Lato', san-serif;">Events</h4>
  <div class="separator-line" style="margin-bottom: 35px"></div>


{{ entries:listing folder="events" show_future="true" show_past="false" limit="6" sort_dir="asc"}}

{{if no_results}}
<div class="meeting text-center">
<h4 style="font-weight: 900; color: #777; line-height: 25px; ">No upcoming events</h4>
</div>
{{else}}

      <div class="meeting">
        <div class="meeting-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ date }}</div>
      <h5 style="font-weight: 900; line-height: 25px; ">
        {{ if siteLink }}
        <a href="{{ siteLink }}">
          {{ title }}&nbsp;&raquo;
        </a>
        {{ else }}
          {{ title }}
        {{/if}}

      </h5>
      </div>

      {{/if}}

{{ /entries:listing }}
<div style="height: 20px"></div>
<hr>
</div>
