
<footer class="no-print">


<!-- <div style="margin: 0; background: #1f3641; padding: 0;" class="footer-override"> -->

<div id="footer">

  <div class="container" style="padding: 40px 0 60px 0">

    <div class="col-md-3 col-lg-3 hidden-sm hidden-xs" style="padding-top: 10px;">

        <h3 class="h4" style="text-transform: uppercase">About ICJIA</h3>

        <ul>
          <li><a href="/about">Overview</a></li>
          <li><a href="/grants">Federal and State Grants</a></li>
          <li><a href="https://grants.icjia.cloud">GATA at ICJIA</a></li>
          <li><a href="/research">Research and Analysis</a></li>
            <li><a href="/systems/infonet">InfoNet</a></li>
            <li><a href="/about/employment">Employment & Internships</a></li>
          <li><a href="/faq">Frequently Asked Questions</a></li>
          <!-- <li><a href="/statutesearch">Illinois Criminal Statute Search</a></li> -->

          <li><a href="/about/contact">Contact</a></li>
        </ul>



    </div>


  <div class="col-md-5 col-lg-5 hidden-sm hidden-xs" style="padding-top: 10px;">

        <h3 class="h4" style="text-transform: uppercase">ICJIA Associate Sites</h3>

        <ul>
          <li><a href="/redeploy">Adult Redeploy Illinois</a></li>
          <li><a href="/drone">Illinois Drone Reporting</a></li>
          <li><a href="http://www.illinoiscenterofexcellence.org/">Illinois Center of Excellence for Behavioral Health and Justice</a></li>
          <li><a href="/cjreform2015">Illinois Commission on Criminal Justice and Sentencing Reform</a></li>
          <li><a href="http://www.ilfvcc.org">Illinois Family Violence Coordinating Councils</a></li>
          <li><a href="/spac">Illinois Sentencing Policy Advisory Council</a></li>

          <li><a href="/sites/mvtpc">Motor Vehicle Theft Prevention Council</a></li>
          <li><a href="/tvpp">Targeted Violence Prevention Program</a></li>


        </ul>

    </div>



<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-top: 10px;" >
  <div class="text-center">
  <h3 class="h4" style="text-transform: uppercase">Sign up for the CJ Dispatch </h3>


  <a href="http://visitor.r20.constantcontact.com/manage/optin?v=001MqUcqqvjwLCJXlLMSWbTe3zHHmEQgFeBuHvBcJWTbwgrxFbDSGx4HSUPpI6DJWMUPgbljtLxffqIcGFTgCnr-auak88ybvRxpoJlTMGPtZs%3D" class="btn btn-primary">Subscribe Now</a>


  <div style="margin-top: 15px;">
    <a href="http://www.facebook.com/ICJIA"><i class="fa fa-facebook-official fa-2x" ></i></a>
    &nbsp;
    <a href="http://www.twitter.com/ICJIA_Illinois"><i class="fa fa-twitter-square fa-2x"></i></a>
    &nbsp;
    <a href="https://www.youtube.com/channel/UCtZMzk8D3P4OixYTwsfPeKA"><i class="fa fa-youtube-square fa-2x"></i></a>
    &nbsp;
    <a href="https://www.soundcloud.com/icjia"><i class="fa fa-soundcloud fa-2x"></i></a>
    &nbsp;
    <a href="https://github.com/ICJIA"><i class="fa fa-github fa-2x"></i></a>
    &nbsp;
    <a href="/feed"><i class="fa fa-rss-square fa-2x"></i></a>
    &nbsp;

    <a href="/about/contact"><i class="fa fa-envelope fa-2x" style="margin-bottom: 0.15em"></i></a>

  </div>

  <div style="color: #fff; font-family: 'Lato', sans-serif; margin-top: 15px; font-size: 13px;">
    <p style="font-size: 11px">(312) 793-8550 - Fax: (312) 793-8422 - <a href="mailto: cja.irc@illinois.gov">cja.irc@illinois.gov</a></p>
    <p>&copy; {{ current_date format="Y"}}
    <a href="/" target="_blank"> Illinois Criminal Justice Information Authority </a></p>


</div>

</div>
</div>
</div>
</div>
</footer>

<!-- /ICJIA Footer -->
