<!-- ICJIA Footer -->
<footer>
<div class="container-fluid">
<div class="row">
  <!-- col #1 -->
  <div class="col-md-12">
    <div style="border-top: 1px solid #ccc; width: 100%; margin-bottom: 20px;"></div>
  </div>
</div>
<div class="container text-center" style="font-size: 12px; margin-bottom: 20px;">
  &copy; {{ current_date format="Y"}}
  <a href="/" target="_blank"> Illinois Criminal Justice Information Authority </a>
  <br/><br/>
  <div class="text-center">
    <!-- <a href="/about/privacy" class="fsize11"> Privacy Policy </a>
  &nbsp;|&nbsp;--><a href="/about/contact" class="fsize11"> Contact </a>
  &nbsp;|&nbsp;<a href="/about/foia" class="fsize11"> FOIA </a>
    &nbsp;|&nbsp;<a href="/faq" class="fsize11"> FAQ </a>
    &nbsp;|&nbsp;<a href="https://twitter.com/ICJIA_Illinois" class="fsize11"> Twitter </a>
    &nbsp;|&nbsp;<a href="https://www.facebook.com/ICJIA" class="fsize11"> Facebook </a>
  </div>
</div>
</div>
</footer>

<!-- /ICJIA Footer -->
