<style>
.gata-head {text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 10px;}
</style>


<div class="col-md-3 scrollspy">
  <div class="bs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="70" data-offset-bottom="400">
    <ul class="nav bs-sidenav">

      <li>
        <h5 style="padding-left: 15px;"><a class="scrollclass sidebarHeading" data-target="#icjia-page-top">Grant Accountability and Transparency Act</a></h5>
        <ul class="nav">
          <li><a class="scrollclass" data-target="#overview">GATA Overview</a></li>
          <li><a class="scrollclass" data-target="#documents">Documents</a></li>
          <li><a class="scrollclass" data-target="#information">Information</a></li>
          <li><a class="scrollclass" data-target="#training">Training</a></li>
          <li><a class="scrollclass" data-target="#email">Email</a></li>
          <li><a class="scrollclass" data-target="#rfp-related">RFP Related</a></li>


        </ul>
      </li>

    </ul>
  </div>
</div>

<div class="col-md-9">

<h2 class="h3 gata-head" id="overview">GATA Overview</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>


<h2 class="h3 gata-head" id="documents">Documents</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>


<h2 class="h3 gata-head" id="information">Information</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>


<h2 class="h3 gata-head" id="training">Training</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>

<h2 class="h3 gata-head" id="email">Email</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>

<h2 class="h3 gata-head" id="rfp-related">RFP Related</h2>



<div class="panel-group" id="gata-accordion" role="tablist" aria-multiselectable="true">


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#gata-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          RFP #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          {{theme:partial src="gata-rfp-test"}}

      </div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#gata-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          RFP #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          {{theme:partial src="gata-rfp-test"}}

      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#gata-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          RFP #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        {{theme:partial src="gata-rfp-test"}}
      </div>
    </div>
  </div>




</div>



</div>
