
<style>

  .news-single {

    -webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.68);

  background: #fdfdfd; padding: 25px 25px; margin-bottom: 50px;}

.btn {color: #000}
</style>


	<h2  class="page-head" style="margin-bottom: 30px">GATA News & Announcements</h1>




<div id="news-grid">

{{ entries:listing folder="/gata/gata-news" show_past="true" show_future="true" }}

<div class="news-single" style="">

  <h4 class="h4" style="text-transform: uppercase; font-weight: 700">
  {{ title|widont }}
</h4>


<h4 class="h6 published">	<span style="color: #999; text-transform: uppercase">Posted: {{date}}</span>

  {{if eventType}}&nbsp|&nbsp;
  <span class="dv-purple" style="font-weight: 600; text-transform: uppercase;">
{{ eventType_list}}</span>
{{endif}}&nbsp&nbsp;


</h4>


<div style="margin-left: 10px; ">
{{ content }}
</div>









</div>




{{ /entries:listing }}
</div>


<div style="height: 100px"></div>
