<!-- Navbar component
================================================== -->
{{theme:partial src="icjia-off-canvas-menu"}}
<nav class="navbar navbar-default navbar-fixed-top" id="gata-top" role="navigation">
<div id="navContainer" class="container">
<div class="navbar-header page-scroll">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </button>
  <div id="icjia-button-bar" style="display: inline; float: left; margin-top: 12px; margin-left: 8px">
    <a class="offCanvasButton btn btn-sm btn-default  hidden-xs" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"
    style="display: none; background: #ddd; color: #000;">
    <i class="fa fa-bars fa"></i></a>

  </div>

  <a class="navbar-brand" href="/gata"> <span class="navbar-brand-illinois" >ICJIA</span> <span class="navbar-brand-gata" style="font-weight: 900">| Grant Accountability & Transparency Act</a></span> </a>
  <a id="gata-mini" href="/gata" style="color: #000">ICJIA | <span class="gata-red">GATA</span></a>

</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav navbar-right" style="text-transform: uppercase">
    <!-- <li> <a href="#page-top" class="navLink menuTop page-scroll">Home</a> </li> -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=" ">About <b class="caret"></b></a>
        <ul class="dropdown-menu">

          <li>
              <a href="/gata/overview">General Overview</a>
          </li>

          <li>
              <a href="/gata/gata-news">News & Announcements</a>
          </li>



          <li>
              <a href="/gata/grant-information">Grant Information</a>
          </li>

          <li>
              <a href="/gata/contact">Contact</a>
          </li>









        </ul>
    </li>



    <li class="dropdown navLink menuTop page-scroll">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Grant Opportunities <b class="caret"></b></a>
        <ul class="dropdown-menu">


            <li class="dropdown-header">
                Current Opportunities
            </li>



            {{ entries:listing folder="/gata/gata-opportunities" sort_dir="desc" conditions="grantStatus:Current" show_past="true" show_future="false" }}


            {{ if no_results }}
              <li class="text-center" style="color: #999">
              No current opportunities
            </li>

      	    {{ else }}

            <li>
                <a href="{{url}}">{{title}}</a>
            </li>

            {{/if}}



          {{ /entries:listing }}





            <li class="divider"></li>

            <li class="dropdown-header">
                Archived
            </li>
            <li>
                <a href="/gata/opportunities/gata-oppo-archive">2016</a>
            </li>











        </ul>
    </li>

        <li> <a href="/gata/documents" class="navLink menuTop page-scroll" >Documents</a> </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=" ">Training <b class="caret"></b></a>
            <ul class="dropdown-menu">

              <li>
                  <a href="/gata/webinars">Webinars & Presentations</a>
              </li>






              <li>
                  <a href="/gata/faqs">FAQs</a>
              </li>











            </ul>
        </li>


    <!--  <li class="dropdown " data-animate="animated fadeInUp" style="z-index:500;"> <a href="#" class="dropdown-toggle " data-toggle="dropdown"> <i class="fa fa-search"> </i> </a>
        <ul class="dropdown-menu animated bounceInDown">
          <li id="dropdownForm">
            <div class="dropdown-form">
              <form class=" form-inline" method="post" name="searchForm" id="searchForm">
                <div class="input-group " style="padding: 4px 8px 4px 8px ">
                  <input type="text" id="siteSearchTerm" class="form-control" style="width: 200px" placeholder="search..." />
                  <span class="input-group-btn"> <input type="submit" class="btn btn-theme-bg" id="siteSearchButton" value="Go!" /> </span>
                </div>

              </form>

            </div>
             </li>

          </ul>
        </li>-->



          <!--nav search form-->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
