<style>
.gata-head {text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 10px;}
ul.gata-list li {margin-top: 10px; margin-bottom: 10px}
ul.gata-list {margin-top: 10px; margin-bottom: 10px}
</style>


<div class="col-md-3 scrollspy">
  <div class="bs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="70" data-offset-bottom="400">
    <ul class="nav bs-sidenav">

      <li>
        <h5 style="padding-left: 15px;"><a class="scrollclass sidebarHeading" data-target="#icjia-page-top">Grant Accountability and Transparency Act</a></h5>
        <ul class="nav">
          <li><a class="scrollclass" data-target="#overview">GATA Overview</a></li>
          <li><a class="scrollclass" data-target="#documents">Documents</a></li>
          <li><a class="scrollclass" data-target="#information">Information</a></li>
          <li><a class="scrollclass" data-target="#training">Training</a></li>
          <li><a class="scrollclass" data-target="#email">Email</a></li>
          <li><a class="scrollclass" data-target="#rfp-related">RFP Related</a></li>


        </ul>
      </li>

    </ul>
  </div>
</div>

<div class="col-md-8">

<h2 class="h3 gata-head" id="overview">GATA Overview</h2>

<p>The <a href="http://ilga.gov/legislation/ilcs/ilcs3.asp?ActID=3559&ChapterID=7" target="_blank">Grant Accountability and Transparency Act</a>, also known as GATA, was passed by the Illinois Legislature in 2014.</p>

<p>GATA confirms Illinois' commitment to the <a href="http://www.ecfr.gov/cgi-bin/text-idx?tpl=/ecfrbrowse/Title02/2cfr200_main_02.tpl">Federal Uniform Guidance 2 CFR 200</a>, which went into effect in December 2014.  The Uniform Guidance already applies to all federal grants and federal pass-through funds.
GATA also requires Illinois' state grants to follow these federal rules for grants which are state funded.
This landmark legislations will increase accountability and transparency in the use of grant funds.
Once fully implemented, it will unify processes and reduce administrative burdens for state agencies and grantees.</p>

<p>Changes in the grant processes are in development.
If they have not already done this, Grantees should prepare themselves by reading this information:</p>
<ul class="gata-list">
<li>State Law 30 ILCS 708 - Grant Accountability and Transparency Act:<br> <a href="http://www.ilga.gov/legislation/ilcs/ilcs3.asp?ActID=3559&ChapterID=7" target="_blank">http://www.ilga.gov/legislation/ilcs/ilcs3.asp?ActID=3559&ChapterID=7</a></li>
<li>Electronic Code of Federal Regulations (e-CFR) - Title 2 Grants and Agreements:<br> <a href="http://www.ecfr.gov/cgi-bin/text-idx?tpl=/ecfrbrowse/Title02/2cfr200_main_02.tpl" target="_blank">http://www.ecfr.gov/cgi-bin/text-idx?tpl=/ecfrbrowse/Title02/2cfr200_main_02.tpl</a></li>

</ul>
<p>
Reminder:  GATA establishes in Illinois law that state grants follow the federal regulations, thus unifying the process for all grants, whether they contain state, federal, or federal pass-through dollars.</p>

<p>We will have specific information about ICJIA's grants in the near future.
Also, as additional information becomes available concerning changes in the grant/contracting process, we will post it to the ICJIA website.</p>
<p>
You may also find the Governor's Office of Management and Budget (GOMB) website very helpful by reading further information housed there: <a href="http://www.illinois.gov/gov/budget/Pages/GrantAccountability.aspx" target="_blank">http://www.illinois.gov/gov/budget/Pages/GrantAccountability.aspx</a></p>


<h2 class="h3 gata-head" id="documents">Documents</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>


<h2 class="h3 gata-head" id="information">Information</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>


<h2 class="h3 gata-head" id="training">Training</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>

<h2 class="h3 gata-head" id="email">Email</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor. Pellentesque vehicula purus mi, ut tempus enim condimentum vitae. Donec vel sollicitudin magna, sit amet pharetra mi. Vivamus lacinia neque justo, a ullamcorper nunc egestas id. Aliquam tempor pretium convallis. Fusce gravida vulputate lorem quis luctus. In luctus ut ligula nec interdum. Ut rhoncus ut lorem nec facilisis. Pellentesque in posuere nisl, interdum volutpat dui. Morbi malesuada laoreet dignissim. In hac habitasse platea dictumst. Mauris accumsan, dui ac facilisis placerat, ex ante maximus neque, id commodo nisi velit in eros.</p>

<h2 class="h3 gata-head" id="rfp-related">RFP Related</h2>



<div class="panel-group" id="gata-accordion" role="tablist" aria-multiselectable="true">


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#gata-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          RFP #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          {{theme:partial src="gata-rfp-test"}}

      </div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#gata-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          RFP #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          {{theme:partial src="gata-rfp-test"}}

      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#gata-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          RFP #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        {{theme:partial src="gata-rfp-test"}}
      </div>
    </div>
  </div>




</div>



</div>
