
<h2 class="page-head" id="documents">{{title}}</h2>


<div class="gata-content">

  <a href="#" class="gata-document">Uniform Application&nbsp;&raquo;</a>

  <p class="gata-document-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor.</p>

  <a href="#" class="gata-document">Budget Template&nbsp;&raquo;</a>

  <p class="gata-document-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor.</p>

  <a href="#" class="gata-document">Fiscal Reporting Quarterly/Monthly&nbsp;&raquo;</a>

  <p class="gata-document-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor.</p>

  <a href="#" class="gata-document">ICJIA Developed Risk Assessment Form&nbsp;&raquo;</a>

  <p class="gata-document-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor.</p>

  <a href="#" class="gata-document">Agreement Template&nbsp;&raquo;</a>

  <p class="gata-document-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet placerat metus. Suspendisse commodo ante eu mauris ornare porttitor.</p>

</div>
