<div>
<h2 align="center">Victims of Crime Act Transitional  Housing Program<br>
  <br />
  Notice  of Funding Opportunity</h2>
  <br>
<p>The Illinois  Criminal Justice Information Authority is requesting applications for federal Victims of Crime Act  grants to support transitional housing and services for Illinois victims of domestic violence and human trafficking. Approximately $2 million is available for this program. Read this page and <a href="/assets/VOCA/2016-VOCA-TH-NOFO.pdf"><strong>click here for application materials, funding eligibility, and other information</strong></a>. <strong>Application deadline: September 30, 2016</strong>.</p>
<p><strong><u>Program  requirements</u></strong>:</p>
<ul>
  <li>Staffing to support all clients.  Every client must be assigned a case manager who coordinates assessments and  services.</li>
  <li>Housing units and services offered  for a minimum of 24 months. Exceptions may be made when non-VOCA funding  sources conflict with this requirement.</li>
  <li>Letters of Commitment from every collaborative partner organization  whose services meet your transitional housing client&rsquo;s needs as described in  the Program Narrative (<em>Appendix A)</em> and the Logic Model (<em>Appendix D</em>).</li>
  <li>The following support services must  be available and offered to clients participating in your proposed program.  These services may be offered by your program or a collaborating partner  organization.</li>
  <ul>
    <li>Employment assistance: Helping a  client implement an employment plan. This may include linking client to a job  training program, helping client complete a job application or resume, or  completing an employment action plan that supports the client's goals. </li>
    <li>Education assistance: Helping a  client implement education plans. This may include helping a client complete a  GED application, providing assistance with enrolling a client or his/her  child(ren) into school, linking to local community college's child care program  so parent can attend classes, or developing an education plan that supports the  client's goals.</li>
    <li>Housing advocacy: Helping a client  implement a plan for obtaining housing. This may include accompanying a client  to the Housing Authority office to apply for Section 8 housing, or helping  client identify available rental units, complete a tenant application, or  develop a housing plan that supports the client's goals.</li>
    <li>Economic assistance: Helping a  client implement plans to improve financial status. This may include helping a  client create a budget, learn how to repair credit, advocating to receive  public benefits, linking to a tax assistance center, or helping to develop an  economic action plan that supports the client's goals.</li>
    <li>In-Person counseling: In-person,  client-centered counseling that addresses the violence and related issues in client's  life and fosters self-determination.</li>
    <li>Children's  Services (if  program serves parents with children): Services must be available for a client's child(ren) that  address violence and related issues in their lives and foster healthy growth  and development. Such services may include individual, group or family  counseling, education assistance (as described above), or therapeutic  activities such as art therapy.</li>
    </ul>
  <li>Attendance at Authority-coordinated  semi-annual meetings.</li>
  <li>Comply with all prescribed assessment  tools and reporting requirements.</li>
</ul>
<p><strong><u>Eligibility Information</u></strong><u>: </u></p>
<p>An entity may apply for a grant but will not be eligible for  a grant award until the entity has pre-qualified through the Grant  Accountability and Transparency Act (GATA) Grantee Portal at: <a href="http://www.grants.illinois.gov"><strong>www.grants.illinois.gov</strong></a>. During  pre-qualification, Dun and Bradstreet verifications are performed including a  check of Debarred and Suspended status and good standing with the Secretary of  State. The pre-qualification process  also includes a financial and administrative risk assessment utilizing an  Internal Controls Questionnaire. All entities found to be ineligible for an award will be notified and  informed of corrective action needed for award eligibility.</p>
<ul>
  <li><strong><u>Eligible  Applicants:</u></strong> Eligible applicants include public and nonprofit  organizations whose primary mission is the provision of direct services to  victims of domestic violence or human trafficking which meet the following  subrecipient organization requirements: </li>
</ul>
  <ol>
  <ol>
    <ul>
      <li><strong>Public or Nonprofit Organization. </strong>Are operated by a public or non-profit organization, or a  combination of such organizations, and provide direct services to crime  victims; Nonprofit organizations must submit proof of 501&copy; 3 status as  determined by the Internal Revenue Service. </li>
      <li><strong>Record of Effective Services. </strong>Demonstrate a record  of providing effective direct services to crime victims. This includes having  the support and approval of its services by the community, a history of  providing direct services in a cost-effective manner, and financial support  from other sources. Programs that have not yet demonstrated a record of  providing services may be eligible for VOCA funds if they can demonstrate that  a minimum of 25 percent of their financial support comes from non-federal  sources;</li>
      <li><strong>Meet Program Match Requirements. </strong>Matching contributions of 20 percent (cash or in-kind) of  the total costs of the VOCA project. Match is to be committed for each  VOCA-funded project and derived from resources other than federal funds and/or  resources; </li>
      <li><strong>Volunteers.</strong> Subrecipient organizations must use volunteers unless the state grantee  determines there is a compelling reason to waive this requirement;</li>
      <li><strong>Promote Community Efforts to Aid Crime Victims. </strong>Promote, within the community, coordinated public and  private efforts to aid crime victims. Coordination may include, but is not  limited to, serving on State, Federal, Local or Native American task forces,  commissions and/or working groups; and developing written agreements, which  contribute to better and more comprehensive services to crime victims.  Coordination efforts qualify an organization to receive VOCA victim assistance  funds, but are not activities that can be supported with VOCA funds;</li>
      <li><strong>Help Crime Victims Apply for Compensation. </strong>Such assistance may include identifying and notifying crime  victims of the availability of compensation, assisting them with application  forms and procedures, obtaining necessary documentation, and/or checking on  claim status;</li>
      <li><strong>Comply with Federal Rules Regulating Grants. </strong>Comply with the applicable provisions of VOCA, the VOCA  Program Guidelines, and the requirements of the <u>Office of Justice Programs  Financial Guide</u>, which includes maintaining appropriate programmatic and  financial records that fully disclose the amount and disposition of VOCA funds  received;</li>
      <li><strong>Maintain Civil Rights Information. </strong>Maintain statutorily required civil rights statistics on  victims served by race or national origin, sex, age and disability, within the  timetable established by the State grantee; and permit reasonable access to  books, documents, papers, and records to determine whether the recipient is  complying with applicable civil rights laws.&nbsp;  This requirement is waived when providing a service, such as telephone  counseling, where soliciting the information may be inappropriate or offensive  to the victim;</li>
      <li><strong>Civil Rights. Prohibition of Discrimination for Recipients  of Federal Funds.</strong> No person in any state shall, on  the grounds of race, color, religion, national origin, sex, age, or disability  be excluded from participation in, be denied the benefits of, be subjected to  discrimination under, or denied employment in connection with any program or  activity receiving federal financial assistance.</li>
      <li><strong>Comply with State Criteria. </strong>Abide by any additional eligibility or service criteria as  established by the State grantee including submitting statistical and  programmatic information on the use and impact of VOCA funds, as requested by  the State grantee;</li>
      <li><strong>Services to Victims of Federal Crime. </strong>Provide services to victims of Federal crimes on the same  basis as victims of state/local crimes;</li>
      <li><strong>No Charge to Victims for VOCA-Funded Services. </strong>Provide services to crime victims, at no charge, through the  VOCA-funded project;</li>
      <li><strong>Client-Counselor Confidentiality. </strong>Maintain confidentiality of client-counselor information as  required by State and Federal law;</li>
      <li><strong>Confidentiality of Research Information</strong>. Except as otherwise provided by federal law, no recipient  of monies under VOCA shall use or reveal any research or statistical  information furnished under this program by any person and identifiable to any  specific private person for any purpose other than the purpose for which such  information was obtained in accordance with VOCA; and</li>
      <li><strong>Certification of Eligibility.</strong> A completed Certification of  Eligibility must be completed and submitted with application (see Appendix B  for the certification form).</li>
    </ul>
  </ol>
</ol>
  <p><u><strong>Application Materials:</strong></u></p>
<p><a href="/assets/VOCA/2016-VOCA-TH-NOFO.pdf"><strong>Click here</strong></a> for Victims of Crime Act Transitional Housing Program Grant Application</p>
<p><u><strong>Deadline</strong></u>:</p>
<p>Completed application materials must be emailed to <a href="mailto:CJA.GrantsUnit@Illinois.gov"><strong>CJA.GrantsUnit@Illinois.gov</strong></a> by <strong>11:59 p.m., September 30, 2016,</strong> to be considered for funding. Proposals will not be accepted by mail, fax,  or in-person. Incomplete applications will not be reviewed. Late submissions  will not be reviewed.</p>
<p><u><strong>Available Funds</strong></u>:</p>
<p>These funds are a portion of a  Victims of Crime Act (VOCA) FFY 15 funds from the Office of Victims of Crime  (OVC) to the Illinois Criminal Justice Information Authority. A minimum of approximately $2 million dollars  will be made available through this RFA. A minimum request of $80,000, and a  maximum request of $300,000 for federal funding for a 12-month period, is  required by the Authority. </p>
<p><u><strong>Period of Performance</strong></u>:<br>
</p>
<p>Funding is  available for the period of <strong>January 1,  2017 through December 31, 2017</strong>. Based on program performance and fund availability, the Authority may  recommend allocation of funding to support an additional 24 months. <br>
</p>
<p><u><strong>Contact Information</strong></u>:<br>
</p>
<p>Ronnie Reichgelt, Program  Administrator<br>
  Illinois Criminal Justice  Information Authority<br>
  300 West Adams, Suite 200<br>
  Chicago, IL 60606<br>
  <a href="mailto:Ronnie.reichgelt@illinois.gov"><strong>Ronnie.Reichgelt@illinois.gov</strong></a><br>
  312-793-8550</p>
<p><u><strong>Optional Technical Assistance Session</strong>: </u><br>
</p>
<p>A  pre-application webinar will be held by the Authority at 1 p.m. on Friday,  August 19, 2016. This will be your opportunity to ask questions about this  funding opportunity.&nbsp; 
<p>Participants must  pre-register here by August 12, 2016:</p>
<div class="text-center" style="width: 100%" id="register-now">
			<a class="btn btn-lg btn-primary" href="https://www.surveygizmo.com/s3/2951289/VOCA-Transitional-Housing-Program-Optional-Technical-Assistance-Webinar-Registration" style="text-transform: uppercase; margin-top: 30px; margin-bottom: 15px; font-family: 'Lato', sans-serif;" target="_blank">Register for the Optional Technical Assistance Webinar</a>
</div> 
  <p>Information provided during this webinar will be unofficial and not  binding on the state.</p>
  <p><u><strong>Notice of Intent:</strong></u></p>
<p>Agencies interested  in submitting an application must complete a Notice of Intent by <strong>11:59 p.m., August 29, 2016</strong>.
<div class="text-center" style="width: 100%" id="register-now">
			<a class="btn btn-lg btn-primary" href="https://www.surveygizmo.com/s3/2948968/VOCA-Transitional-Housing-Program-Notice-of-Intent" style="text-transform: uppercase; margin-top: 30px; margin-bottom: 15px; font-family: 'Lato', sans-serif;" target="_blank">Complete the Notice of Intent</a>
</div>
</p>
<p><u><strong>Timeline</strong></u><strong>:</strong></p>
		<table class="table table-striped">
		<tbody>
  <tr>
    <th scope="col">Milestones</th>
    <th scope="col">Target Date</th>
  </tr>
  <tr>
    <td><p>Release of RFP and open application</p>
    </td>
    <td>August 1, 2016</td>
  </tr>

  <tr>
    <td><p>Optional Technical Assistance  Webinar registration deadline</p>
    </td>
    <td>August 12, 2016</td>
  </tr>
  <tr>
    <td>Optional Technical Assistance Webinar</td>
    <td>August 19, 2016</td>
  </tr>
  <tr>
    <td>Notice of Intent due</td>
    <td>August 29, 2016</td>
  </tr>
  <tr>
    <td>Last date for submission of questions</td>
    <td>September 16, 2016</td>
  </tr>
  <tr>
    <td>Application Closes</td>
    <td>September 30, 2016</td>
  </tr>
  <tr>
    <td>Application Review Opening</td>
    <td>October 3, 2016</td>
  </tr>
  <tr>
    <td>Award Announcement</td>
    <td>October 28, 2016</td>
  </tr>
  <tr>
    <td><p>Authority send agreement packets to subrecipients for signature</p>
    </td>
    <td>November 14, 2016</td>
  </tr>
  <tr>
    <td>Award packets is due to the Authority</td>
    <td>December 1, 2016</td>
  </tr>
  <tr>
    <td>Authority Budget Committee</td>
    <td>December 18, 2016</td>
  </tr>
  <tr>
    <td>Start Program Performance Period</td>
    <td>January 1, 2017</td>
  </tr>
		</tbody>
</table>
<p><u><strong>Reporting</strong></u>:</p>
<p>Recipients  must submit quarterly financial and progress reports and final financial and  progress reports. Federal reporting requirements state that funding agencies  must report all mandatory information to the federal agency (ICJIA) no later  than 30 days after the end of the designated quarter. To do so, the Authority  will require all programs funded to report electronically at minimum <u>on a  quarterly basis</u> and no later than 15 days after the end of each reporting  period. Mandatory fiscal and progress reports will be distributed to each  grantee for submission. Failure to comply with mandatory reporting requirements  will cause immediate suspension of funding of this grant, any other grant that  applicant has with the Authority, and possible termination of the grant. If  applicable, an annual audit report in accordance with the Part 200 Uniform  Requirements must be submitted. Future awards and fund drawdowns may be  withheld if reports are delinquent.</p>
Grantees will be required  to utilize InfoNet, the Authority&rsquo;s online victim services database. Please see <a href="http://www.icjia.state.il.us/systems/infonet"><strong>http://www.icjia.state.il.us/systems/infonet</strong></a> for more information on Infonet.  Infonet use requires a Windows-based device with a high speed internet  connection. Exceptions will be considered on a case-by-case basis.</p>
<p><u><strong>Required  Documents</strong></u><strong>:</strong><br>
</p>
<p>The following documents must be  emailed to <a href="mailto:CJA.GrantsUnit@Illinois.gov"><strong>CJA.GrantsUnit@Illinois.gov</strong></a> by the deadline for application review (click on the links below to download copies):</p>
<ul>
  <li><strong><a href="/assets/VOCA/APPENDIX-A-Uniform-Application-for-State-Grant-Assistance.docx">Completed and signed Uniform State  Grant Application for each agency requesting funding in PDF (<em>Appendix A - MS Word</em>). </a></strong></li>
  <li>Completed and signed Programmatic  Risk Assessment in PDF, if available. </li>
  <li><a href="/assets/VOCA/APPENDIX-B-Eligibility-Certification.docx"><strong>Completed and signed Eligibility  Requirements Certification Form (<em>Appendix  B</em> - MS Word).</strong></a> </li>
  <li><strong><a href="\assets\VOCA\APPENDIX-C-Proposal-Narrative.docx">Completed Program Narrative in Word. Program Narrative must  be submitted in Word and formatted as provided in <em>Appendix C</em>. Other  documents should be submitted in PDF. Application should be 20 pages maximum,  drafted in Times New Roman 12-point font and double-spaced. Please number  pages. (<em>Appendix C</em> - MS Word).</a></strong></li>
  <li><strong><a href="/assets/VOCA/APPENDIX-D-Logic-Model.docx">Completed Logic Model in Word (<em>Appendix D</em> - MS Word).</a> </strong></li>
  <li><strong><a href="/assets/VOCA/APPENDIX-E-VOCA-SAR.docx">Completed and signed VOCA SAR form (<em>Attachment E</em> - MS Word).</a> </strong></li>
  <li><strong><a href="/assets/VOCA/APPENDIX-F-Self-Certification.docx">Completed and signed  Self-Certification (<em>Attachment F - MS Word</em>).</a> </strong></li>
  <li><strong><a href="/assets/VOCA/APPENDIX-G-Implementation-Schedule.docx">Completed  Implementation Schedule (<em>Attachment G</em> - MS Word).</a></strong></li>
  <li><strong><a href="/assets/VOCA/Appendix-I-GATA-Budget-Template.xlsx">One completed Budget/Budget  Narrative in fillable PDF format for each funded agency (<em>Appendix I</em> - MS Excel).</a> </strong></li>
  <li><strong><a href="/assets/VOCA/Fiscal-Information-Sheet-Appendix-J.docx">Completed Fiscal Information Sheet  in Word (<em>Appendix J</em> - MS Word).</a> </strong></li>
  <li><strong><a href="/assets/VOCA/Audit-info-Sheet-Appendix-K.docx">Completed and signed Audit  Information Sheet in PDF (<em>Appendix K</em> - MS Word).</a> </strong></li>
  <li><strong><a href="/assets/VOCA/Certification-Lobbying-Debarment-all-grants_11-28-11-Appendix-L.pdf">Completed and signed Debarment  certification (<em>Appendix L</em> - PDF).</a> </strong></li>
  <li><strong><a href="/assets/VOCA/EEOP_Cert_9-23-2014-Appendix-M.docx">Completed and signed EEOP  certifications (<em>Appendix M</em> - MS Word).</a>
    </strong>
    <ul>
      <li>Please leave the agreement number  and award amount blank </li>
    </ul>
  </li>
  <li><a href="/assets/VOCA/Civil-Rights-Compliance-Certification-revised_1-25-13-Appendix-N.docx"><strong>Completed and signed Civil Rights  certifications (<em>Appendix N</em> - MS Word).</strong></a> </li>
  <li><strong><a href="/assets/VOCA/Faith-Based-Organization-Self-Report-Appendix-O.docx">Self-Report Statement of Faith Based  Organization (<em>Appendix O</em> - MS Word).</a></strong></li>
  <li><strong><a href="/assets/VOCA/APPENDIX-Q-Mandatory-Forms-Checklist.docx">Mandatory  Forms Checklist (<em>Appendix Q</em> - MS Word).</a></strong></li>
  <li><a href="/assets/VOCA/Attachment-1-Trauma-Informed-Services-and-Transitional-Housing-Models.docx"><strong>Informed Services and Transitional Housing Models (Attachment 1 - MS Word).</strong></a></li>
  <li>Letter of determination of the Non  Profit Status from the United State Internal Revenue 501 (c) 3. </li>
  <li>Certificate of Good Standing from the Illinois Secretary of State.</li>
</ul>
<div class="text-center" style="width: 100%" id="register-now">
			<a class="btn btn-lg btn-primary" href="/assets/VOCA/NOFO_VOCA_application_documents.zip" style="text-transform: uppercase; margin-top: 30px; margin-bottom: 15px; font-family: 'Lato', sans-serif;" target="_blank">Download Zip File of All Required Application Documents</a>
</div> 

</div>
<p></p>