<div class="col-md-3 scrollspy">
  <div class="bs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="70" data-offset-bottom="400">
    <ul class="nav bs-sidenav">

      <li>
        <h5 style="padding-left: 15px;"><a class="scrollclass sidebarHeading" data-target="#icjia-page-top">Grant Accountability and Transparency Act</a></h5>
        <ul class="nav">
          <li><a class="scrollclass" data-target="#overview">Overview</a></li>
          <li><a class="scrollclass" data-target="#announcements">Announcements</a></li>
          <li><a class="scrollclass" data-target="#faq">Frequently Asked Questions</a></li>
          <li><a class="scrollclass" data-target="#articles">Articles</a></li>


        </ul>
      </li>

    </ul>
  </div>
</div>

<div class="col-md-8">



<div style="height: 1000px"></div>
</div>
