<!--<h4>TODO:</h4>

<ul>
<li>Discrimination policy</li>
<li>Grant Technical Assistance
<ul>
<li>Illinois Criminal Justice Information Authority Federal &amp; State Grants Unit: A guide for grantees (PDF)</li>
<li>Program Goals, Objectives, and Performance Indicators: A guide for grant and program development (PDF)</li>
<li>How to Successfully Obtain Grant Funding – And Be Glad You Did: Keys to successful grant applications (PDF)</li>
<li>Neighborhood Recovery Initiative Grant Materials and Reporting Training Webinar</li>
<li>S.T.O.P. Violence Against Women (VAWA) In Illinois – A Multi-Year Plan: FFY10-12 (PDF)</li>
</ul>
</li>
<li>Grant proposal guidebook</li>
</ul>-->

<style>
ul.technical-assistance li {margin-bottom: 10px}
ul.technical-assistance li a { text-transform: none; font-size: 16px;font-family: 'Gentium Book Basic',serif;}
</style>

<div class="well" style="margin-top: 25px">
<h5>Illinois Criminal Justice Information Authority
Civil Rights Policy and Procedures for
Receiving Complaints Against Grantees</h5>

<p>
The Illinois Criminal Justice Information Authority (ICJIA) is committed to prohibiting discrimination in the grant-funded workplace and in the delivery of services by ICJIA grantees. ICJIA does not discriminate based on actual or perceived race, color, religion, sex, national origin, ancestry, age, order of protection status, marital status, physical or mental disability, military status, sexual orientation, or unfavorable discharge from military service.
 <br/><br/>
 <a href="/assets/pdf/fsgu/ICJIA Civil Rights PP final.pdf" class="btn btn-default" role="button"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Download Civil Rights Policy&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a> </p>
  </div>
 <div class="well" style="margin-top: 25px">
<h5> File an Employment / Grant Funded Service Discrimination Complaint</h5>
  <br/><br/>
<a href="http://www.surveygizmo.com/s3/875123/Employment-Services-Complainant-Information-Form " class="btn btn-default" role="button"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Submit a Discrimination Complaint &nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
 </div>


 <div class="well" style="margin-top: 25px">
 <h5>A Grant Proposal Guidebook: Planning, Writing and Submitting a Grant Proposal</h5>

 <p >The Illinois Criminal Justice Information Authority (ICJIA) is committed to prohibiting
 discrimination in the grant-funded workplace and in the delivery of services by ICJIA grantees.
 ICJIA grantees have a legal and contractual obligation to provide employment and services,
 funded by ICJIA grants, in a discrimination-free manner. Accordingly, this document establishes
 the written policy and procedure for ICJIA employees to follow when they receive a complaint
 of discrimination from grantee employees and grantee clients, customers, and program
 participants.
  <br/><br/>
  <a href="/assets/pdf/grants/grantbook01.pdf" class="btn btn-default" role="button"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Download Grant Proposal Guidebook&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>

  </p>
  </div>



  <div class="well" style="margin-top: 25px">
  <h5>S.T.O.P. Violence Against Women
In Illinois
A Multi-Year Plan: FFY14-16
</h5>

  <p >The Violence Against Women Act (VAWA), authorized by Title IV of the Violent Crime Control and Law Enforcement Act of 1994 and subsequently reauthorized as the Violence Against Women and Department of Justice Reauthorization Act of 2005 and 2013, provides financial assistance to states for developing and strengthening effective law enforcement and prosecution strategies and victim services in cases involving violent crimes against women. To be eligible, states must develop a plan in accordance with requirements set out in the Act. The Act specifies that states must allocate at least 25 percent of the VAWA funds it receives to law enforcement, 25 percent to prosecution, 30 percent to nonprofit, non-governmental victim services, and at least 5 percent to courts. The remaining 15 percent may be allocated at the state’s discretion within the parameters of the Act. Funds may not be used to replace dollars already committed to a service or program.

   <br/><br/>
   <a href="/assets/fsgu/Implementation Plan.pdf" class="btn btn-default track" role="button"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Download plan&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>

   </p>
   </div>




  <div class="well" style="margin-top: 25px">
  <h5>Grant Technical Assistance</h5>
<ul class="technical-assistance">
  <li><a href="/assets/pdf/FSGU/Authority_grant_process_2012.pdf">Illinois Criminal Justice Information Authority Federal &amp; State Grants Unit: A guide for grantees </a>(PDF)</li>
  
<li><a href="/assets/pdf/FSGU/Goals_Objectives_and_Performance_Measures_2012.pdf">Program Goals, Objectives, and Performance Indicators: A guide for grant and program development </a>(PDF)</li>
<li><a href="/assets/pdf/FSGU/How_to_write_successful_grant_applications_2012.pdf">How to Successfully Obtain Grant Funding -- And Be Glad You Did: Keys to successful grant applications </a>(PDF)</li>

<li><a href="https://youtu.be/nFVMlof28nU">Illinois Criminal Justice Information Authority New Grantee Financial Reports Webinar Recording</a> (Video Recording)</li>

<li><a href="/assets/pdf/2010-2012%20VAWA%20Implementation%20Plan/VAWA%20PLAN%202010-12.pdf">S.T.O.P. Violence Against Women (VAWA) In Illinois -- A Multi-Year Plan: FFY10-12 </a><a href="<p">(PDF)</a></li>
<li><a href="https://pacapacity.net/Home/tabid/1362/Default.aspx">A Pennsylvania state portal for victim service agencies to help executive and managerial staff to get additional resources to help them build the organizational capacity of their agencies/programs at low to no-cost and at their convenience.</a>&nbsp;<i class="fa fa-external-link"></i></li>


<li><a href="https://www.ncjrs.gov/pdffiles1/ovw/249871.pdf?ed2f26df2d9c416fbddddd2330a778c6=ovonxpavum-oaoamuui">View the National Protocol for Sexual Abuse Medical Forensic Examinations: Pediatric (Pediatric SAFE Protocol)</a></li>

<p style="margin-left: 10px; border-left: 2px solid #ccc; padding-left: 10px;">In coordination with the Office for Victims of Crime (OVC), along with other federal agencies and national experts, the <a href="https://www.justice.gov/ovw?ed2f26df2d9c416fbddddd2330a778c6=cbaglenbio-cnanhiio">Office on Violence Against Women (OVW)</a> released the <a href="https://www.ncjrs.gov/pdffiles1/ovw/249871.pdf?ed2f26df2d9c416fbddddd2330a778c6=mlunksxlvs-mxuxqvvf">National Protocol for Sexual Abuse Medical Forensic Examinations: Pediatric (Pediatric SAFE Protocol)</a>. This protocol, which is aimed at pediatricians, forensic nurses, and other health care providers who work with children, provides evidence-based, trauma-informed recommendations for caring for child victims of sexual abuse. <a href="http://www.ovc.gov/news/partners.html?ed2f26df2d9c416fbddddd2330a778c6=vtfvmjbtcg-vbfbkccz">Learn more</a>.</p></li>
</ul>
   </p>
   </div>
