<!--<h4>TODO:</h4>

<ul>
<li>Discrimination policy</li>
<li>Grant Technical Assistance
<ul>
<li>Illinois Criminal Justice Information Authority Federal &amp; State Grants Unit: A guide for grantees (PDF)</li>
<li>Program Goals, Objectives, and Performance Indicators: A guide for grant and program development (PDF)</li>
<li>How to Successfully Obtain Grant Funding – And Be Glad You Did: Keys to successful grant applications (PDF)</li>
<li>Neighborhood Recovery Initiative Grant Materials and Reporting Training Webinar</li>
<li>S.T.O.P. Violence Against Women (VAWA) In Illinois – A Multi-Year Plan: FFY10-12 (PDF)</li>
</ul>
</li>
<li>Grant proposal guidebook</li>
</ul>-->


<div class="well" style="margin-top: 25px">
<h5>Illinois Criminal Justice Information Authority
Civil Rights Policy and Procedures for
Receiving Complaints Against Grantees</h5>

<p >The Illinois Criminal Justice Information Authority (ICJIA) is committed to prohibiting
discrimination in the grant-funded workplace and in the delivery of services by ICJIA grantees.
ICJIA grantees have a legal and contractual obligation to provide employment and services,
funded by ICJIA grants, in a discrimination-free manner. Accordingly, this document establishes
the written policy and procedure for ICJIA employees to follow when they receive a complaint
of discrimination from grantee employees and grantee clients, customers, and program
participants.
 <br/><br/>
 <a href="/assets/pdf/fsgu/ICJIA Civil Rights PP final.pdf" class="btn btn-default" role="button"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Download Civil Rights Policy&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>

 </p>
 </div>


 <div class="well" style="margin-top: 25px">
 <h5>A Grant Proposal Guidebook: Planning, Writing and Submitting a Grant Proposal</h5>

 <p >The Illinois Criminal Justice Information Authority (ICJIA) is committed to prohibiting
 discrimination in the grant-funded workplace and in the delivery of services by ICJIA grantees.
 ICJIA grantees have a legal and contractual obligation to provide employment and services,
 funded by ICJIA grants, in a discrimination-free manner. Accordingly, this document establishes
 the written policy and procedure for ICJIA employees to follow when they receive a complaint
 of discrimination from grantee employees and grantee clients, customers, and program
 participants.
  <br/><br/>
  <a href="/assets/pdf/grants/grantbook01.pdf" class="btn btn-default" role="button"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Download Grant Proposal Guidebook&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>

  </p>
  </div>


  <div class="well" style="margin-top: 25px">
  <h5>Grant Technical Assistance</h5>

  <p><a href="/assets/pdf/FSGU/Authority_grant_process_2012.pdf">Illinois Criminal Justice Information Authority Federal &amp; State Grants Unit: A guide for grantees </a>(PDF)</p>
<p><a href="/assets/pdf/FSGU/Goals_Objectives_and_Performance_Measures_2012.pdf">Program Goals, Objectives, and Performance Indicators: A guide for grant and program development </a>(PDF)</p>
<p><a href="/assets/pdf/FSGU/How_to_write_successful_grant_applications_2012.pdf">How to Successfully Obtain Grant Funding -- And Be Glad You Did: Keys to successful grant applications </a>(PDF)</p>

<p><a href="/assets/pdf/2010-2012%20VAWA%20Implementation%20Plan/VAWA%20PLAN%202010-12.pdf">S.T.O.P. Violence Against Women (VAWA) In Illinois -- A Multi-Year Plan: FFY10-12 </a><a href="<p">(PDF)</a></p>

<p><a href="https://pacapacity.net/Home/tabid/1362/Default.aspx">A Pennsylvania state portal for victim service agencies to help executive and managerial staff to get additional resources to help them build the organizational capacity of their agencies/programs at low to no-cost and at their convenience.</a>&nbsp;<i class="fa fa-external-link"></i></p>


   </p>
   </div>
