<h3 style="margin-bottom: 20px;">Frequently Asked Questions</h3>

<div class="panel-group" id="accordion-fsgu-inner" style="margin-top: 30px; margin-left: 30px">
  <!-- <div class="faqHeader">Frequently Asked Questions</div> -->


  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">I have a program and am in need of grant funding. What programs do you administer?</a>
          </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
               The Authority administers a variety of federal and state grant programs. View <a href="#">programs</a> to see if your organization meets the eligibility requirements of an Authority-administered program. Then visit grant opportunities to see if we are accepting <a href="#">grant applications</a> for the program.
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What are the funding cycles? </a>
          </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body">
            Federal programs are funded from October 1 to September 30. State programs are funded from July 1 to June 30.
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How do I find out about grant opportunities?</a>
          </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
          <div class="panel-body">
             Find out about Authority grant opportunities, news, and research by checking the ICJIA website, subscribing to the CJ Dispatch, and following us on Facebook and Twitter.
          </div>
      </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">How do I apply for a grant?</a>
          </h4>
      </div>
      <div id="collapseTwelve" class="panel-collapse collapse">
          <div class="panel-body">
             When you see a <a href="/grant-opportunities">grant opportunity</a> listed on the Authority website, check to make sure your agency meets the program’s specific criteria for grant funding. If your agency is eligible for funding, read the instructions for information on how to submit an application.
          </div>
      </div>
  </div>



  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">We tried to apply for a grant but had problems with the application process. What should we do?</a>
          </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse">
          <div class="panel-body">
             Please use the Authority contact information on the request for applications for technical assistance at any point in the process.
          </div>
      </div>
  </div>




  <div style="margin-top: 30px" class="text-center">
    Don’t see an answer to your question in these FAQs? Email us:  <a href="mailto: cja.info@illinois.gov">cja.info@illinois.gov</a>.
  </div>
