<!-- <div >
	<div class="container-fluid" style="margin: 0; padding: 0; margin-bottom: 15px; margin-top: 15px;">
		<div class="col-sm-12 col-md-2 text-center" style="margin: 0; padding: 0; padding-top: 10px;">
			<h5 style="font-family: 'Lato', san-serif;">Recent ICJIA Publications</h5>
			<p style="margin-top: 25px;"><span id="slider-prev" ></span>&nbsp;<span id="slider-next" ></span></p>
		</div>
		<div class="col-sm-12 col-md-10 pub-scroller" style="">
			<ul class="bxslider" style="display:none">
				<li class="pub-slide">
						<span class="pub-date">May 14, 2015</span>
						<h5 class="pub-category">Evaluation Report</h5>
						<p class="pub-title">Evaluation of the 2013 Community Violence Prevention Program's Reentry Program Report</p>

				</li>
				<li class="pub-slide">
					<span class="pub-date">May 12, 2015</span>
						<h5 class="pub-category">Research Report</h5>
						<p class="pub-title">
							Influence of court-ordered forensic evaluations on juvenile justice system-involved youth
						</p>

				</li>

				<li class="pub-slide">
					<span class="pub-date">April 28, 2015</span>
						<h5 class="pub-category">Research Bulletin</h5>
						<p class="pub-title">
							Influence of court-ordered forensic evaluations on juvenile justice system-involved youth
						</p>

				</li>

				<li class="pub-slide">
					<span class="pub-date">April 22, 2015</span>
						<h5 class="pub-category">Evaluation Report</h5>
						<p class="pub-title">Evaluation of the 2013 Community Violence Prevention Program's Reentry Program Report</p>

				</li>
				<li class="pub-slide">
					<span class="pub-date">April 17, 2015</span>
						<h5 class="pub-category">Research Report</h5>
						<p class="pub-title">
							Influence of court-ordered forensic evaluations on juvenile justice system-involved youth
						</p>

				</li>

				<li class="pub-slide">
					<span class="pub-date">March 07, 2015</span>
						<h5 class="pub-category">Research Bulletin</h5>
						<p class="pub-title">
							Influence of court-ordered forensic evaluations on juvenile justice system-involved youth
						</p>

				</li>




			</ul>
		</div>

</div>
</div> -->
