<div class="" style="margin: 0; padding: 0; margin-top: -10px">
<div class="featured-container">
	<div class="featured-well" style="background-image: url('{{splashPhoto1}}')">
		<div class="featured-tall">
			<div class="overlay">
				{{if splashKicker1}}
				<div class="featured-tall-kicker">
					<a href="{{splashLink1}}">{{splashKicker1}}</a>
				</div>
				{{endif}}
				<a href="{{splashLink1}}" class="featured-link">
					<div class="featured-tall-headline">
						{{splashHeadline1}}
					</div>

				</a>
			</div>
		</div>
	</div>


  <div class="featured-well" style="background-image: url('{{splashPhoto2}}')">
    <div class="featured-tall">
      <div class="overlay">
				{{if splashKicker2}}
				<div class="featured-tall-kicker">
					<a href="{{splashLink2}}">{{splashKicker2}}</a>
				</div>
				{{endif}}
        <a href="{{splashLink2}}" class="featured-link">
          <div class="featured-tall-headline">
						{{splashHeadline2}}
          </div>


        </a>
      </div>
    </div>
  </div>




  <div class="featured-well" style="background-image: url('{{splashPhoto3}}')">
		<div class="featured-tall">
			<div class="overlay">
				{{if splashKicker3}}
				<div class="featured-tall-kicker">
					<a href="{{splashLink3}}">{{splashKicker3}}</a>
				</div>
				{{endif}}
				<a href="{{splashLink3}}" class="featured-link">
					<div class="featured-tall-headline">
					{{splashHeadline3}}
					</div>

				</a>
			</div>
		</div>
	</div>




</div>

</div>


<div style="clear: both"></div>
