<section id="home-splash2" style="margin-top: 20px;">
      <div style="width: 100%; overflow: hidden">
          <div class="owl-carousel" style="">



            <div class="item">
              <div class="slide" style="background-image:url(/assets/img/splash/gata-image01-01.jpg);">
                <a href="/sites/opioidnofo" class="fp-splash">
                    <div class="overlay">

                        <div class="kicker">
                            Funding Opportunity
                        </div>

					                    <div class="head">

                                2016 Comprehensive Opioid Medication Assisted Treatment Program Notice of Funding Opportunity

                              </div>
                    </div>

                    </a>

		        </div>
          </div>

          <div class="item">
            <div class="slide" style="background-image:url(/assets/img/splash/drug-tf.jpg);">
              <a href="/articles/drug-trends-and-distribution-in-illinois-a-survey-of-drug-task-forces" class="fp-splash">
                  <div class="overlay">
                            <div class="head">

                              Drug trends and distribution in Illinois: A survey of drug task forces

                            </div>
                  </div>

                  </a>

          </div>
        </div>

        <div class="item">
          <div class="slide" style="background-image:url(/assets/img/splash/employment-restriction2.jpg);">
            <a href="/articles/the-impact-of-employment-restriction-laws-on-illinois-convicted-felons" class="fp-splash">
                <div class="overlay">
                          <div class="head">

                            The impact of employment restriction laws on Illinois’ convicted felons

                          </div>
                </div>

                </a>

        </div>
      </div>

      <div class="item">
        <div class="slide" style="background-image:url('/assets/img/splash/ptsd-splash.jpg');">
          <a href="/articles/probable-posttraumatic-stress-disorder-in-a-sample-of-urban-jail-detainees" class="fp-splash">
              <div class="overlay">
                        <div class="head">

                          Probable posttraumatic stress disorder in a sample of urban jail detainees

                        </div>
              </div>

              </a>

      </div>
    </div>


<div class="item">
  <div class="slide" style="background-image:url(/assets/img/splash/gata-image01-01.jpg);">
    <a href="/sites/vocanofo" class="fp-splash">
        <div class="overlay">

          <div class="kicker">
              Funding Opportunity
          </div>
                  <div class="head">

                    Victims of Crime Act Transitional Housing Program: Notice of Funding Opportunity

                  </div>
        </div>

        </a>

</div>
</div>



<div class="item">
  <div class="slide" style="background-image:url('/assets/img/splash/247-sobriety.jpg');">
    <a href="/articles/24-7-sobriety-program-summary" class="fp-splash">
        <div class="overlay">
                  <div class="head">

                    24/7 Sobriety Program Summary

                  </div>
        </div>

        </a>

</div>
</div>



<div class="item">
  <div class="slide" style="background-image:url('/assets/img/splash/evaluation-cpd.jpg');">
    <a href="/articles/evaluation-of-chicago-police-department-s-crisis-intervention-team-for-youth" class="fp-splash">
        <div class="overlay">
                  <div class="head">

                    Evaluation of Chicago Police Department’s Crisis Intervention Team for Youth training curriculum: Year 2

                  </div>
        </div>

        </a>

</div>
</div>







</div>


          </div>

          <script>
            $(document).ready(function() {
              var owl = $('.owl-carousel');
              owl.owlCarousel({
                margin: 1,
                nav: true,
                loop: true,
                autoplay:true,
                 stagePadding: 0,

    autoplayTimeout:5000,
    autoplayHoverPause:true,
                navText: [
                      "<i class='fa fa-chevron-left fa-2x'></i>",
                      "<i class='fa fa-chevron-right fa-2x'></i>"
                    ],

                responsive: {
                  0: {
                    items: 1
                  },
                  600: {
                    items: 2
                  },
                  1000: {
                    items: 3
                  }
                }
              })
            })





          </script>

    </section>
