<!-- focus areas  -->
<div class="hidden-xs">
<div class="container-fluid" style="margin: 0; padding: 0">

<div class="equal">
<div class="col-sm-3 col-md-3 col-lg-3 icjia-hover">
	<a href="/grants/overview">
<div class="service-inner">
	<i class="fa fa-money fa-4x" style="margin-bottom: 20px;"></i>
<h6 class="entry-title">Federal & State Grants</h6>
<p class="p-description">The Federal & State Grants Unit oversees federal and state assistance programs administered by the Authority. </p>
</div>
</a>
</div>
<div class="col-sm-3 col-md-3 col-lg-3 icjia-hover">
	<a href="{{_site_root}}research/overview#tab_research-overview" >
<div class="service-inner">
	<i class="fa fa-bar-chart fa-4x" style="margin-bottom: 20px;"></i>
<h6 class="entry-title">research and analysis</h6>
<p class="p-description">The Research & Analysis Unit serves as Illinois’ Statistical Analysis Center (SAC). State SACs provide objective analysis of criminal justice data for informing statewide policy and practice.</p>
</div>
</a>
</div>

<div class="col-sm-3 col-md-3 col-lg-3 icjia-hover">
	<a href="http://www.icjia.state.il.us/redeploy" >
<div class="service-inner">
	<i class="fa fa-university fa-4x" style="margin-bottom: 20px;"></i>
<h6 class="entry-title">Adult Redeploy</h6>
<p class="p-description">Adult Redeploy Illinois provides financial incentives to local jurisdictions for programs that allow diversion of non-violent offenders from state prisons by providing community-based services.</p>
</div>
</a>
</div>

<div class="col-sm-3 col-md-3 col-lg-3 icjia-hover">
	<a href="http://www.ilfvcc.org" >
<div class="service-inner">
	<i class="fa fa-cogs fa-4x" style="margin-bottom: 20px;"></i>
<h6 class="entry-title">Family Violence Coordinating Councils</h6>
<p class="p-description">The FVCC establishes a forum to improve the institutional, professional and community response to family violence in Illinois.</p>
</div>
</a>
</div>





</div>
</div>
</div>
