<div id="myNavmenu" class="navmenu navmenu-default offcanvas navmenu-fixed-left">
      <a class="navmenu-brand text-center" href="/" style="font-size: 14px; background: #aaa; color: #fff; margin-top: -2px; text-transform: uppercase; font-weight: 700">

      Illinois Criminal Justice<br/>Information Authority


      </a>
      <ul class="nav navmenu-nav">
        <li><a href="/">Home</a></li>


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu navmenu-nav">



                <li>
                    <a href="/about/overview">Overview</a>
                </li>


                    <li>
                        <a href="/biographies">Members & Staff</a>
                    </li>
                    <li>
                      <a href="/about/overview#tab_materials">Meeting Materials</a>
                  </li>
                <li>
                    <a href="/news">News</a>
                </li>


                <li class="divider"></li>

                <li>
                    <a href="/systems/overview">Information Systems</a>
                </li>



                <li>
                    <a href="/about/foia">FOIA Requests</a>
                </li>

                <li>
                    <a href="/about/employment">Employment</a>
                </li>






            </ul>
        </li>







        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=" ">Grants <b class="caret"></b></a>
            <ul class="dropdown-menu navmenu-nav">

              <li>
                  <a href="/grants/overview#tab_programs">Overview</a>
              </li>

              <li>
                  <a href="/grant-programs">Grant Programs</a>
              </li>




              <li>
                  <a href="/grants/overview#tab_opportunities">Grant Opportunities</a>
              </li>



              <li>
                  <a href="/grants/overview#tab_resources">Resources</a>
              </li>

                <li class="divider"></li>

              <li>

                  <a href="/grants/overview#tab_faqs">FAQ</a>
              </li>

              <li>
                  <a href="/grants/overview#tab_staff">Unit Staff</a>
              </li>








                <li class="divider"></li>


              <li>
                  <a href="/sites/mvtpc">Motor Vehicle Theft<br/>Prevention Council</a>

              </li>




            </ul>
        </li>





        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=" ">Research <b class="caret"></b></a>
            <ul class="dropdown-menu navmenu-nav">

              <li>
                  <a href="{{_site_root}}research/overview#tab_overview">Overview</a>
              </li>



              <li>
                  <a href="{{_site_root}}research/publications">Publications</a>
              </li>

              <li>
                  <a href="{{_site_root}}articles">Articles</a>
              </li>

              <li>
                  <a href="{{_site_root}}research/overview#tab_staff">Staff</a>
              </li>

              <li class="divider"></li>

              <li class="dropdown-header">
                  Tools and Data
              </li>


              <li>
                  <a href="{{_site_root}}research/overview#tab_tools">Crime & Risk Factor Data Tools</a>
              </li>



              <li>
                  <a href="{{_site_root}}research/overview#tab_data">Downloadable Datasets</a>
              </li>








            </ul>
        </li>



        <li><a href="/redeploy">Adult Redeploy</a></li>

          <li><a href="http://www.ilfvcc.org">Family Violence</a></li>






      </ul>
    </div>
