
<style>

.filter-group a:hover {cursor: pointer; cursor: hand;}
#circuit-message {display: none}
.btn {color: #000}
</style>
<script>
function ordinal_suffix(i) {


    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
}




function getCircuitName(c) {
  var myCircuitClass=".circuit-name-" + c;
  //$(myCircuitClass).html(Number(c));
  var circuitNum=Number(c);
  var circuitInsert = ordinal_suffix(circuitNum) + ' Circuit';
  if (circuitInsert == '0th Circuit') {circuitInsert = 'All Circuits'}
  if (c==='500') {
    $(myCircuitClass).html('Cook County');
  } else {
    $(myCircuitClass).html(circuitInsert);
  }





}
</script>


<h2 class="h3" style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 30px;">IFVCC News & Events</h2>


<!-- <div class="text-center well white filter-group" style="font-family: 'Lato', sans-serif; color: #777; ">

  <a data-target="*" class="filter selected-circuit">ALL CIRCUITS</a>&nbsp;|&nbsp;
  <a data-target=".001" class="filter">01</a>&nbsp;|&nbsp;
  <a data-target=".002" class="filter">02</a>&nbsp;|&nbsp;
  <a data-target=".003" class="filter">03</a>&nbsp;|&nbsp;
  <a data-target=".004" class="filter">04</a>&nbsp;|&nbsp;
  <a data-target=".005" class="filter">05</a>&nbsp;|&nbsp;
  <a data-target=".006" class="filter">06</a>&nbsp;|&nbsp;
  <a data-target=".007" class="filter">07</a>&nbsp;|&nbsp;
  <a data-target=".008" class="filter">08</a>&nbsp;|&nbsp;
  <a data-target=".009" class="filter">09</a>&nbsp;|&nbsp;
  <a data-target=".010" class="filter">10</a>&nbsp;|&nbsp;
  <a data-target=".011" class="filter">11</a>&nbsp;|&nbsp;
  <a data-target=".012" class="filter">12</a>&nbsp;|&nbsp;
  <a data-target=".013" class="filter">13</a>&nbsp;|&nbsp;
  <a data-target=".014" class="filter">14</a>&nbsp;|&nbsp;
  <a data-target=".015" class="filter">15</a>&nbsp;|&nbsp;
  <a data-target=".016" class="filter">16</a>&nbsp;|&nbsp;
  <a data-target=".017" class="filter">17</a>&nbsp;|&nbsp;
  <a data-target=".018" class="filter">18</a>&nbsp;|&nbsp;
  <a data-target=".019" class="filter">19</a>&nbsp;|&nbsp;
  <a data-target=".020" class="filter">20</a>&nbsp;|&nbsp;
  <a data-target=".021" class="filter">21</a>&nbsp;|&nbsp;
  <a data-target=".022" class="filter">22</a>&nbsp;|&nbsp;
  <a data-target=".023" class="filter">23</a>&nbsp;|&nbsp;
  <a data-target=".500" class="filter">Cook</a>



</div>

  <div style="font-size: 14px; margin-top: 5px; margin-bottom: 50px;" class="text-center"><a href="javascript:void(0)" id="what-circuit">What circuit am I in?</a></div> -->


<div id="circuit-grid">

{{ entries:listing folder="/ifvcc/ifvcc-news" show_past="true" show_future="true" sort_dir="desc" }}

<div class="circuit-single {{circuit}}">

  <h4 class="h4" style="text-transform: uppercase; font-weight: 700; line-height: 34px;">
  <span style="color: #999; text-transform: uppercase">{{date}}</span> | {{ title|widont }}
</h4>


<!-- <h4 class="h6 published">	<span style="color: #999; text-transform: uppercase">{{date}}</span>&nbsp| -->

  {{if eventType}}
  <span class="dv-purple" style="font-weight: 600; text-transform: uppercase;">
{{ eventType_list}}</span>
{{endif}}|&nbsp;<span style="color: #000; font-weight: 600; text-transform: uppercase;" class="circuit-name-{{circuit}}">{{circuit}}</span>&nbsp;

<span style="color: #777; font-size: 14px; text-transform: uppercase;">


<script>
getCircuitName('{{circuit}}');
</script>



</span>
</h4>


<div style="margin-left: 10px; ">
{{ content|widont }}
</div>




        <hr/>




</div>




{{ /entries:listing }}
</div>

<div id="circuit-message" class="text-center" style="font-weight: 700">Sorry, no news items for selected circuit</div>


<div style="height: 100px"></div>
