



    <nav id="mainNav" class="navbar navbar-default after-color internal-page top-nav-collapse navbar-fixed-top nav-shadow">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>


                  <div id="icjia-button-bar-no-logo" style="margin-top: 9px; margin-right: 12px; display: inline; float: left;">
                    <a type="button" style="font-size: 10px; font-weight: 900" class="offCanvasButton btn btn-sm btn-default trigger-button" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                    <i class="fa fa-bars" style="color: #444; font-size: 12px; margin-bottom: .15em"></i>


                  </a>
                  </div>

                  <a class="navbar-brand page-scroll" href="/ifvcc"><span class="">ILLINOIS</span>&nbsp;|&nbsp;<span class="thinnav">Family Violence Coordinating Councils</span></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a  href="/ifvcc/councils">Councils</a>
                      </li>
                      <li >
                          <a  href="/ifvcc/projects">Projects</a>
                      </li>
                      <li>
                          <a  href="/ifvcc/partners">Partners</a>
                      </li>
                      <li>
                          <a  href="/ifvcc/archive">Archive</a>
                      </li>
                      <li>
                          <a  href="/ifvcc/resources">Resources</a>
                      </li>
                      <li>
                          <a  href="/ifvcc/contact">Contact</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>
