<style>

.navbar-inverse {background-color: #fff;
    border-color: #ddd;}

</style>


<!-- Navigation -->
    <nav class="navbar after-color navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

              <!--  <span id="icjia-button-bar">
                  <a type="button" style="background: #082e6f; color: #fff; font-size: 10px; font-weight: 900" class="offCanvasButton btn btn-sm btn-default" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                  <i class="fa fa-bars fa-2x" style="margin-bottom: .15em"></i>
                  <span style="font-size: 12px; padding-left: 2px;">ICJIA</span></a>
                </span>-->

                <div id="icjia-button-bar" style="margin-top: 9px; margin-right: 15px; display: inline; float: left;">
                  <a type="button" style="background: #fff; color: #eee; font-size: 7px; font-weight: 900" class="offCanvasButton btn btn-sm btn-default" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        					<i class="fa fa-bars fa-2x" style="margin-bottom: .15em; color: #444"></i>
        					<!--<span style="margin-bottom: 14px;font-size: 12px; padding-left: 2px; color: #082e6f">ICJIA</span>-->

                  </a>


                </a>
                </div>


                <a class="navbar-brand" href="/ifvcc">Illinois&nbsp;|&nbsp;<span class="dv-purple">Family Violence Coordinating Councils</span></a>
                  <a id="ifvcc-mini" href="/ifvcc" style="color: #000">Illinois | <span class="dv-purple">FVCC</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li {{if title == 'IFVCC Councils'}}class="active"{{/if}}>
                        <a href="/ifvcc/ifvcc-councils">Councils</a>
                    </li>



                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                          <li class="dropdown-header">
                              IFVCC Projects
                          </li>

                            <li>
                                <a href="/ifvcc/projects">Overview</a>
                            </li>






                              <li class="divider"></li>

                              <li class="dropdown-header">
                                  Model Domestic Violence Protocol
                              </li>
                              <li style="margin-bottom: -20px; padding-bottom: 0">
                                <a href="/assets/ifvcc/Model Protocols/Model Domestic Violence Protocol.zip" class="track"><i class="fa fa-download fa-fw" ></i> Download </a>&nbsp;
                              </li>


                              <li class="dropdown-header">
                                  Model Elder Abuse Protocol
                              </li>
                              <li style="margin-bottom: -20px; padding-bottom: 0">
                                <a href="/assets/ifvcc/Model Protocols/Model Elder Abuse Protocol.zip" class="track"><i class="fa fa-download fa-fw" ></i> Download </a>&nbsp;
                              </li>


                              <!-- <li class="dropdown-header">
                                  Model Abuse of Persons with Disabilities Protocol
                              </li>
                              <li style="margin-bottom: -20px; padding-bottom: 0">
                                <a href="/assets/ifvcc/model protocols" class="track"><i class="fa fa-download fa-fw" ></i> Download </a>&nbsp;
                              </li> -->






                        </ul>
                    </li>


                    <li {{if title == 'Partners'}}class="active"{{/if}}>
                        <a href="/ifvcc/partners">Partners</a>
                    </li>

                    <li {{if title == 'Archive'}}class="active"{{/if}}>
                        <a href="/ifvcc/archive">Archive</a>
                    </li>
                    <li>
                        <a href="/ifvcc/resources">Resources</a>
                    </li>
                    <li>
                        <a href="/ifvcc/contact">Contact</a>
                    </li>




                    <!--<li>
                        <a href="/ifvcc/lcc">LCC</a>
                    </li>-->



                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
