<!-- ******* materials tab start ***************** -->

<style>
ul.recent li {
margin-bottom: 10px}
</style>
<div style="margin-top: 15px;border: 1px solid #ccc; padding: 10px; background: #fafafa">
<div style="font-weight: bold; font-size: 20px; margin-bottom: 15px;">Recent Meetings 2020</div>

<ul class="recent">

<li>
<b>September 17, 2020</b> -- Regular Authority Board Meeting<br><a href="/assets/pdf/Authority-09-17-2020.zip" style="font-size: 12px">Download Agenda & Materials</a> | <a style="font-size: 12px" href="/assets/pdf/1 Board agenda Final 9.17.2020 mdj.docx">Agenda Only</a>
</li>

<li>
<b>July 23, 2020</b> -- CESF Ad Hoc Committee Meeting<br><a href="/assets/pdf/budget/Agenda%20072320.pdf" style="font-size: 12px">Download Agenda & Materials</a> | <a style="font-size: 12px" href="/assets/pdf/A. CAP BC Grant Recommendation Report Template for 072420v3.pdf">Doc 1</a> | <a style="font-size: 12px" href="/assets/pdf/B. Community Lifeline BC Grant Recommendation Report Template for 072420v2.pdf">Doc 2</a> | <a style="font-size: 12px" href="/assets/pdf/072320 Budget Committee Summary.pdf">Summary</a>
</li>

<li>
<b>June 15, 2020</b> -- CESF Ad Hoc Committee Meeting<br><a href="/assets/pdf/Agenda%20CESF%20Ad%20Hoc%20Board%20Meeting%206.15.2020%20mdj.pdf" style="font-size: 12px">Download Agenda</a> | <a href="/assets/pdf/CESF Ad Hoc Committee Minutes 6.15.20 ce RM.pdf" style="font-size: 12px">Minutes</a>
</li>


<li><b>June 8, 2020</b> -- CESF Ad Hoc Committee Meeting<br><a href="/assets/pdf/Agenda CESF Ad Hoc Board Meeting 6.8.20 DRAFT.docx" style="font-size: 12px">Download Agenda</a> | <a href="/assets/pdf/CESF Ad Hoc Meeting Minutes 6.9.2020 mdj ce.pdf" style="font-size: 12px">Minutes</a></li>


</ul>

</div>




<div class="panel-group" id="accordion-fsgu-inner" style="margin-top: 30px; margin-left: 0px">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">2019
					Authority Board Meetings</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<p class="text-center" style="color: #888; font-size: 14px">2019 Authority Board Meetings begin at 10
					a.m. at Illinois Criminal Justice Information Authority, 300 W. Adams St., Suite 200,Chicago, IL
					60606, 2nd Floor Building Conference Room.</p>

				<table class="table about-icjia-table table-materials table-bottom-rule">
					<thead>
						<tr>
							<th colspan="6">
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="33%">December 19, 2019
							</td>
							<td colspan="6">

<a href="http://www.icjia.org/assets/pdf/Authority Board Materials 12.19.19 mdj.pdf">Agenda & Materials</a>
							</td>
						</tr>
						<tr>
							<td width="33%">September 19, 2019 </td>
							<td colspan="6">

								<a href="http://www.icjia.org/assets/pdf/Authority%20Board%20Materials%209.19.19.pdf">Agenda & Materials</a>
							</td>
						</tr>
						<tr>
							<td>June 27, 2019
							</td>
							<td colspan="6">

								<a href="https://grants.icjia.cloud/misc/Authority%20Board%20Materials%206.21.19%20mdj.pdf">Agenda & Materials</a>
							</td>
						</tr>

						<tr>
							<td>April 24, 2019
							</td>
							<td colspan="6">
								<a href="http://www.icjia.org/assets/pdf/Meetings/2019-04-24/AuthorityBoardMeeting%20Materials4.24.19.pdf">Materials</a>

							</td>
						</tr>

						<tr>
							<td><strike>March 21, 2019</strike>
							</td>
							<td>


							</td>
						</tr>
					</tbody>
				</table>

				<p class="text-center" style="color: #888; font-size: 14px">These are proposed scheduled dates and are
					subject to change.</p>
			</div>
		</div>
	</div>

	
			</div>
		</div>
	</div>


	

	<!-- -----------------------------------------------------------
---- BUDGET COMMITTEE ------------------------------------------
----------------------------------------------------------------
---------------------------------------------------------------- -->

<div class="panel panel-default" style="margin-top: 50px;">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2020">2020
					Authority Budget Committee Meetings</a>
			</h4>
		</div>
		<div id="collapse2020" class="panel-collapse collapse in">
			<div class="panel-body">
				<p class="text-center" style="color: #888; font-size: 14px">2020 Authority Budget Committee Meetings
					begin at 10 a.m., at ICJIA, 300 West Adams Street, 2nd Floor, Large Conference Room, Chicago,
					Illinois, 60606.</p>
				<table class="table about-icjia-table table-materials table-bottom-rule">
					<thead>
						<tr>
							<th colspan="12">
							</th>
						</tr>
					</thead>
					<tbody>
					
					<tr>
							<td width="33%">August 20, 2020
							</td>
							<td>
								<a href="/assets/pdf/Budget Committee Materials 082020.pdf" class="track">Agenda and Materials</a>
								&nbsp;|&nbsp;<a href="/assets/pdf/budget/Budget%20Committee%20Suppemental%20Memo%20VOCA%20082020.pdf">Supplemental 1</a>
								&nbsp;|&nbsp;<a href="/assets/pdf/budget/East%20St%20Louis%20Report%208.11.20%20v5%20Updated.pdf">Supplemental 2</a>
								
							
							
							
							
							</td>
						</tr>
					
					
					
					<tr>
							<td width="33%">July 23, 2020
							</td>
							<td>
								<a href="/assets/pdf/budget/Agenda%20072320.pdf" class="track">Agenda and Materials</a>
								
							
							
							&nbsp;|&nbsp;<a href="/assets/pdf/072320 Budget Committee Summary.pdf">Summary</a>
							
							
							</td>
						</tr>
					
					
					<tr>
							<td width="33%">June 18, 2020
							</td>
							<td>
								<a href="/assets/pdf/Budget%20Committee%20Materials%20061820v2.pdf" class="track">Agenda and Materials</a>
								
								

							&nbsp;|&nbsp;<a href="/assets/pdf/Supplemental%20Budget%20Committee%20Materials%20061820.pdf">Supplemental</a>
							
							&nbsp;|&nbsp;<a href="/assets/pdf/061820 Budget Committee Summary.pdf">Summary</a>
							
							
							</td>
						</tr>
					
					<tr>
							<td width="33%">May 21, 2020
							</td>
							<td>
								<a href="/assets/pdf/052120 Budget Committee Summary.pdf" class="track">Summary</a> | <a href="/assets/pdf/BC MINUTES 052120.pdf" class="track">Minutes</a>
								
								

							</td>
						</tr>
					
					
					<tr>
							<td width="33%">March 12, 2020
							</td>
							<td>
								<a href="/assets/pdf/budget/Budget%20Committee%20Materials%20031220%20v2.pdf" class="track">Agenda and Materials</a> | <a href="/assets/pdf/BC MINUTES 031220.pdf" class="track">Minutes</a>
								
								

							</td>
						</tr>

						<tr>
							<td width="33%">January 16, 2020
							</td>
							<td>
								<a href="/assets/pdf/budget/Budget%20Committee%20Materials%20011620%20v2.pdf" class="track">Agenda and Materials</a>
								&nbsp;&nbsp;
									<a href="/assets/pdf/budget/Supplemental%20State%20Memo%20011620.pdf" class="track">Supplemental Memo</a> | <a href="/assets/pdf/BC MINUTES 011620.pdf" class="track">Minutes</a>
								

							</td>
						</tr>

						
					</tbody>
				</table>
				
			</div>
		</div>
	</div>


	



	

	

		


	
</div>
</div>

<div style="font-size: 20px">
<b>For all meeting materials prior to 2020, please visit the <a href="https://archive.icjia.cloud/">ICJIA Document Archive</a>.</b>
</div>
<!-- ******* //materials tab end ***************** -->