<!-- ******* materials tab start ***************** -->

<style>
	ul.recent li {
	margin-bottom: 10px}
    </style>
    

	<div style="margin-top: 15px;border: 1px solid #ccc; padding: 10px; background: #fafafa">
		<div style="font-weight: bold; font-size: 20px; margin-bottom: 15px;">Recent Meetings 2020</div>

		<ul class="recent">
		
		<li>
		<b>December 16, 2020</b> -- Traffic and Pedestrian Stop Data Use and Collection Task Force<br><a href="/assets/word/IL Traffic Stop Task Force Agenda 12-16-20.docx" style="font-size: 12px">Download Agenda</a>
		</li>
		
		
		<li>
		<b>September 23, 2020</b> -- Traffic and Pedestrian Stop Data Use and Collection Task Force<br><a href="/assets/pdf/IL%20Traffic%20Stop%20Task%20Force%20Agenda%209-23-20.pdf" style="font-size: 12px">Download Agenda</a> | <a href="/assets/word/Traffic Stop Task Force Minutes 9-23-20.docx" style="font-size: 12px">Minutes</a>
		</li>
		
		<li>
		<b>September 23, 2020</b> -- Traffic and Pedestrian Stop Data Use and Collection Task Force<br><a href="/assets/pdf/IL%20Traffic%20Stop%20Task%20Force%20Agenda%209-23-20.pdf" style="font-size: 12px">Download Agenda</a>
		</li>
		
		<li>
		<b>September 17, 2020</b> -- Regular Authority Board Meeting<br><a href="/assets/pdf/Authority-09-17-2020.zip" style="font-size: 12px">Download Agenda & Materials</a> | <a style="font-size: 12px" href="/assets/pdf/1 Board agenda Final 9.17.2020 mdj.docx">Agenda Only</a>
		</li>
		
		<li>
		<b>July 23, 2020</b> -- CESF Ad Hoc Committee Meeting<br><a href="/assets/pdf/budget/Agenda%20072320.pdf" style="font-size: 12px">Download Agenda & Materials</a> | <a style="font-size: 12px" href="/assets/pdf/A. CAP BC Grant Recommendation Report Template for 072420v3.pdf">Doc 1</a> | <a style="font-size: 12px" href="/assets/pdf/B. Community Lifeline BC Grant Recommendation Report Template for 072420v2.pdf">Doc 2</a> | <a style="font-size: 12px" href="/assets/pdf/072320 Budget Committee Summary.pdf">Summary</a>
		</li>
		
		<li>
		<b>June 15, 2020</b> -- CESF Ad Hoc Committee Meeting<br><a href="/assets/pdf/Agenda%20CESF%20Ad%20Hoc%20Board%20Meeting%206.15.2020%20mdj.pdf" style="font-size: 12px">Download Agenda</a> | <a href="/assets/pdf/CESF Ad Hoc Committee Minutes 6.15.20 ce RM.pdf" style="font-size: 12px">Minutes</a>
		</li>
		
		
		<li><b>June 8, 2020</b> -- CESF Ad Hoc Committee Meeting<br><a href="/assets/pdf/Agenda CESF Ad Hoc Board Meeting 6.8.20 DRAFT.docx" style="font-size: 12px">Download Agenda</a> | <a href="/assets/pdf/CESF Ad Hoc Meeting Minutes 6.9.2020 mdj ce.pdf" style="font-size: 12px">Minutes</a></li>
		
		
		</ul>
		
        </div>
        
        <div class="panel panel-default" style="margin-top: 50px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2020">2021
                        Authority Board Meetings</a>
                </h4>
            </div>
            <div id="collapse2020" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p class="text-center" style="color: #888; font-size: 14px">2021 Authority Board Meetings</p>
                    <table class="table about-icjia-table table-materials table-bottom-rule">
                        <thead>
                            <tr>
                                <th colspan="12">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        <tr>
                                <td width="33%">January 21, 2021
                                </td>
                                <td>
                                    <a href="/assets/pdf/1 Board Agenda 01.21.21 mdj.pdf" class="track">Agenda</a>
                                    &nbsp;|&nbsp;<a href="/assets/pdf/2 Meeting Minutes 9.17.2020 (1) mdj.pdf">Minutes from 09/17/2020 </a>
                                    |&nbsp;<a href="/assets/pdf/3 Grants Update 1.14.21.pdf">Grants Updates</a>
                                    |&nbsp;<a href="/assets/pdf/4 NOFO schedule 1.13.21.pdf">NOFO schedule</a>
                                    |&nbsp;<a href="/assets/pdf/5 RA update 1-13-21.pdf">R&A Update</a>
                                    
                                
                                
                                
                
                                </td>
                            </tr>
                        
                        <tr>
                        
                         
    
                            
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    


    <div class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2020">2020
                    Authority Budget Committee Meetings</a>
            </h4>
        </div>
        <div id="collapse2020" class="panel-collapse collapse in">
            <div class="panel-body">
                <p class="text-center" style="color: #888; font-size: 14px">2020 Authority Budget Committee Meetings
                    begin at 10 a.m., at ICJIA, 300 West Adams Street, 2nd Floor, Large Conference Room, Chicago,
                    Illinois, 60606.</p>
                <table class="table about-icjia-table table-materials table-bottom-rule">
                    <thead>
                        <tr>
                            <th colspan="12">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
					
					<tr>
                            <td width="33%">December 15, 2020
                            </td>
                            <td>
                                <a href="/assets/pdf/Budget Committee Meeting Materials 121520.pdf" class="track">Materials</a>
								&nbsp;|&nbsp;<a href="/assets/pdf/121520_Budget_Committee_Summary.pdf">Summary</a>
                                
                            
                            
                            
                            
                            </td>
                        </tr>
                    
                    <tr>
					
					 <tr>
                            <td width="33%">November 19, 2020
                            </td>
                            <td>
                                <a href="/assets/pdf/111920 Budget Committee Summary.pdf" class="track">Summary</a>
								&nbsp;|&nbsp;<a href="/assets/pdf/Budget_Committee_Minutes_111920.pdf">Minutes</a>
                                
                            
                            
                            
                            
                            </td>
                        </tr>
                    
                    <tr>
                            <td width="33%">August 20, 2020
                            </td>
                            <td>
                                <a href="/assets/pdf/Budget Committee Materials 082020.pdf" class="track">Agenda and Materials</a>
                                &nbsp;|&nbsp;<a href="/assets/pdf/budget/Budget%20Committee%20Suppemental%20Memo%20VOCA%20082020.pdf">Supplemental 1</a>
                                &nbsp;|&nbsp;<a href="/assets/pdf/budget/East%20St%20Louis%20Report%208.11.20%20v5%20Updated.pdf">Supplemental 2</a>
								&nbsp;|&nbsp;<a href="/assets/pdf/BC MINUTES 082020.pdf">Minutes</a>
                                
                            
                            
                            
                            
                            </td>
                        </tr>
                    
                    
                    
                    <tr>
                            <td width="33%">July 23, 2020
                            </td>
                            <td>
                                <a href="/assets/pdf/budget/Agenda%20072320.pdf" class="track">Agenda and Materials</a>
                                
                            
                            
                            &nbsp;|&nbsp;<a href="/assets/pdf/072320 Budget Committee Summary.pdf">Summary</a>
                            
                            
                            </td>
                        </tr>
                    
                    
                    <tr>
                            <td width="33%">June 18, 2020
                            </td>
                            <td>
                                <a href="/assets/pdf/Budget%20Committee%20Materials%20061820v2.pdf" class="track">Agenda and Materials</a>
                                
                                

                            &nbsp;|&nbsp;<a href="/assets/pdf/Supplemental%20Budget%20Committee%20Materials%20061820.pdf">Supplemental</a>
                            
                            &nbsp;|&nbsp;<a href="/assets/pdf/061820 Budget Committee Summary.pdf">Summary</a>
                            
                            
                            </td>
                        </tr>
                    
                    <tr>
                            <td width="33%">May 21, 2020
                            </td>
                            <td>
                                <a href="/assets/pdf/052120 Budget Committee Summary.pdf" class="track">Summary</a> | <a href="/assets/pdf/BC MINUTES 052120.pdf" class="track">Minutes</a>
                                
                                

                            </td>
                        </tr>
                    
                    
                    <tr>
                            <td width="33%">March 12, 2020
                            </td>
                            <td>
                                <a href="/assets/pdf/budget/Budget%20Committee%20Materials%20031220%20v2.pdf" class="track">Agenda and Materials</a> | <a href="/assets/pdf/BC MINUTES 031220.pdf" class="track">Minutes</a>
                                
                                

                            </td>
                        </tr>

                        <tr>
                            <td width="33%">January 16, 2020
                            </td>
                            <td>
                                <a href="/assets/pdf/budget/Budget%20Committee%20Materials%20011620%20v2.pdf" class="track">Agenda and Materials</a>
                                &nbsp;&nbsp;
                                    <a href="/assets/pdf/budget/Supplemental%20State%20Memo%20011620.pdf" class="track">Supplemental Memo</a> | <a href="/assets/pdf/BC MINUTES 011620.pdf" class="track">Minutes</a>
                                

                            </td>
                        </tr>

                        
                    </tbody>
                </table>
                
            </div>
        </div>
	</div>
	
	<div style="font-size: 20px" class="text-center">
		<b>For all meeting materials prior to 2020, please visit the <a href="https://archive.icjia.cloud/">ICJIA Document Archive</a>.</b>
		</div>
	
	