<style>
@media (min-width: 768px) {
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}
}
</style>


<div id="nav-wrapper" style="background: #fff; position: relative" >
    <div id="nav" class="navbar navbar-default yamm" role="navigation">
      <div class="container-fluid" style="margin: 0; padding: 0;">
        <div class="navbar-header" style="height: 80px; background: #466c8c; width: 100%">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="z-index: 50000">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


            <div class="text-center">

                <img id="" src="/assets/img/logo-icjia-new.png" style="margin-top: 10px; height: 40px">
                <br/>
                  <span style="color: #fff; font-weight: 700; margin-top: 8px;">Illinois Criminal Justice Information Authority</span>

            </div>






        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">


            <li><a href="http://www.icjia.state.il.us/redeploy">Reform Commission</a></li>


            <li><a href="http://www.icjia.state.il.us/redeploy">Adult Redeploy</a></li>

              <li><a href="http://www.ilfvcc.org">Family Violence</a></li>


          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>
