
<h4 class="text-center" style="font-family: 'Lato', san-serif;">News</h4>
  <div class="separator-line"></div>


  {{ entries:listing folder="news|press" limit="7" show_past="true" show_future="false" conditions="siteDisplay:ICJIA"}}
	    {{ if no_results }}
		  <p class="sorry">
			No news is good news.<br>
			Check back soon.
		  </p>
	    {{ else }}




      <div class="news-item">
      <div style="font-weight: 900; margin-top: 40px; line-height: 30px; text-transform: uppercase;" class="h5">
        {{if updatedItem}}
        <span style="font-weight: 700; background: #bc2d2d; color: #fff; border: 0px solid #ccc; padding: 4px; font-family: Lato, sans-serif">UPDATED</span>&nbsp;&nbsp;
        {{endif}}
        <span style="font-weight: 400; color: #666" {{if !updatedItem}} class="addNewLabel" data-postType="news" data-postDate="{{date format='Y-m-d'}}"{{endif}}>{{ date }}</span> | <a href="{{ url }}">{{if displayTitle}}{{ displayTitle }}{{else}}{{title}}{{endif}}</a></div>

          <div class="expander-news">
          {{ content|widont }}
          </div>

        </div>







	    {{ endif }}
	{{ /entries:listing }}

  <div class="text-center" style="margin-top: 50px">
  <a class="btn btn-default" href="/news" role="button" style="text-transform: uppercase; font-family: 'Lato'; color: #000; margin-bottom: 20px;">News Archive&nbsp;&raquo;</a>
  </div>
