<h5 style="font-size: 14px">Crime & Risk Factor Data Tools</h5>





		<p >With support from the <a href="http://bjs.ojp.usdoj.gov">U.S. Department of Justice, Bureau of Justice Statistics</a>, ICJIA  has developed several data analysis and dissemination tools to give users convenient and flexible ways to access and interact with ICJIA's extensive criminal justice and associated risk factor data holdings.</p>



		<div class="well" style="margin-top: 25px">
		<h5>Criminal history and recidivism tool</h5>

		<p >The <a href="/sac/tools/ICT/IllinoisCohortsTool.cfm">Criminal History and Recidivism Tool</a> provides information on the
		patterns of prior criminal history of various cohorts of persons sentenced
		to prison in Illinois, and their long-term recidivism rates upon release. Tables and charts display several types of
		 information: demographic information on the selected group of interest; the number and types of prior arrests, convictions,
		 probation and prison sentences; and post-release recidivism rates based on multiple types of criminal justice events and demographic categories.
		 <br/><br/>
		 <a href="/sac/tools/ICT/IllinoisCohortsTool.cfm" class="btn btn-default" role="button">Criminal History and Recidivism Tool&nbsp;<i class="fa fa-external-link"></i></a>

		 </p>
		 </div>

		 <div class="well" style="margin-top: 25px">
		<h5>Detailed Data Tables</h5>
		<p >The <a href="/sac/instantatlas/MainHTML/atlas.html" class="all">Detailed Data Tables Tool</a> provides the counts and rates on a wide variety of crime and criminal justice statistics for each county. The information is
		displayed as yearly totals for the selected county. Users can also
		access and download the raw data in excel format on the Datasets page.
		<br/><br/>
		 <a href="/sac/instantatlas/MainHTML/atlas.html" class="btn btn-default" role="button">Detailed Data Tables Tool&nbsp;
       <i class="fa fa-external-link"></i></a>
     </p>
		</div>



		 <div class="well" style="margin-top: 25px">
		<h5>Single Map Analysis Tool</h5>
		<p >
			The <a href="/sac/instantatlas/MainSingleMap/atlas.html" class="all">Single Map Analysis Tool</a> is useful for those interested in a visual snapshot
			of how Illinois counties compare on various crime and criminal justice indicators.
			 The tool displays this information in two interactive formats; as an Illinois map,
			  and as corresponding trend lines over the previous ten years. Users can select any number
			   of counties, regions or judicial circuits for comparison.
		<br/><br/>
		 <a href="/sac/instantatlas/MainSingleMap/atlas.html" class="btn btn-default" role="button">Single Map Analysis Tool&nbsp;
       <i class="fa fa-external-link"></i></a>


		</p>
		</div>


		 <div class="well" style="margin-top: 25px">
		<h5>Scatter Plot Analysis Tool</h5>
		<p >
			The <a href="/sac/instantatlas/MainScatter/atlas.html" class="all">Scatter Plot Analysis Tool</a> allows users to compare the relationship
			between two different criminal justice indicators within a county,
			and determine how all Illinois counties rank on that joint set of crime statistics
			or criminal justice indicators. The tool displays this information in several
			interactive formats; as Illinois maps and as a corresponding scatter plot
			 showing correlations for all counties or custom sets of counties in Illinois.

		<br/><br/>
		 <a href="/sac/instantatlas/MainScatter/atlas.html" class="btn btn-default" role="button">Scatter Plot Analysis Tool&nbsp;
			  <i class="fa fa-external-link"></i></a>


		</p>
		</div>





<p>These tools come with a variety of built-in Help features to assist users as they navigate the unique analysis functions.</p>

<p>For more information or assistance with these tools, contact the Research & Analysis Criminal Justice Information Clearinghouse Unit at 312-793-8550, or email <a href="mailto: cja.irc@illinois.gov">cja.irc@illinois.gov</a>.</p>
