<div class="article-content">
  {{ content|widont }}



    <div class="article-keywords no-print" >

      <h5 style="line-height: 1.4em">
      Keywords: {{ keywords_sentence_url_list }}</h5>

    </div>










    {{entries:listing folder="biographies" conditions="title:{authors|option_list}"}}
    {{if total_found}}
    {{ if first}}
    <span class="article-about-the-author">

    {{/if}}
    {{/if}}
    {{/entries:listing}}


      <p>



    {{ entries:listing folder="biographies" conditions="title:{authors|option_list}" sort_by="sortField" }}
    {{if total_found}}

    {{if content}}

    <h6><a href="{{url}}">{{title}}{{degrees}}{{if total_found}}, {{/if}}{{name}}{{/degrees}}</a></h6>

    <div style="margin-left: 15px">
      <p>{{if authorPhoto}}<img src="{{ transform src="{authorPhoto}" height="75"}}"
          style="float: left; padding-right: 14px;" />{{endif}}	{{content}}</p>




          <p style="margin-left: 0px">{{if orgtitle}}<a href="/authors/{{title|slugify}}">{{title}}</a> is
  					{{if modifier == 'a'}}
  					an
  					{{else}}
  					{{modifier}}
  					{{endif}}
  					Authority {{orgtitle}}.





          <br/>
          {{endif}}

          {{theme:partial src="author-social" use_context="true"}}</p>
        </div>


        {{/if}}
      {{/if}}
    {{ /entries:listing }}



    </p>

  </span>

{{if pdf_uploads}}
  <!--   <hr/>


  <div class="well white" style="font-family: Lato, sans-serif; padding: 30px 25px 30px 25px; font-size: 14px; color: #555;">

    <div style="font-size: 20px; margin-bottom: 20px;">{{tab2}}</div>

  <ul>
      {{pdf_uploads}}
      <li>
      <a href="{{pdf}}" class="track article-download-link">{{title}}</a>&nbsp;&nbsp;<i class="fa fa-file-pdf-o" style="margin-bottom: .3em"></i>
      </li>
      {{/pdf_uploads}}
  </ul>

    </div> -->
{{endif}}



  <div class="article-disclaimer">
    {{ disclaimer }}
  </div>





</div>

{{if seriesExtro}}

<div class="article-series">
    <h6>
    All articles in this series
  </h6>
  {{seriesExtro}}
  </div>
{{endif}}
