



<div id="article-social-sidebar" style="margin-left: 25px">


  <!-- replace apostrophes in titles with non-apostrophe -->
      <a href="javascript:void(0);" class="social twitter" onclick="return twitter_click('{{ string:replace string="{{title}}" pattern="/'/" replacement="’" }} via @ICJIA_Illinois','{{permalink}}')" target="_blank" title="Tweet me!"><i style="margin-bottom: .35em" class="fa fa-twitter-square fa-2x"></i></a>
      &nbsp;
      <a href="javascript:void(0);" class="social facebook" onclick="return fbs_click('{{ permalink }}','{{title|urlencode}}')" target="_blank" title="Share me on Facebook"><i style="margin-bottom: .35em" class="fa fa-facebook-square fa-2x"></i></a>

  &nbsp;
      <a href="javascript:window.print()" class="social print" title="Print page"><i style="margin-bottom: .35em" class="fa fa-print fa-2x"></i></a>
  &nbsp;

    <a href="javascript:void(0);" id="adjust-font" class="social adjust-font" title="Adjust font size">
        <span style="font-size: 30px; font-weight: 700; ">A</span>
        <span style="font-size: 24px; font-weight: 700; ">A</span>
      </a>


      <!--<span id="sizeLabel" style="color: #f44013; font-size: 10px; text-transform: uppercase;">Default</span>-->



</div>
