<div class="article-content">
  {{ content }}




    <div class="article-keywords no-print" >

      <h5 style="line-height: 1.4em">
      Keywords: {{ keywords_sentence_url_list }}</h5>

    </div>

{{if disclaimer}}
<div style="margin-top: 40px; margin-bottom: 40px">


    <div class="article-disclaimer well" style="" >
      {{ disclaimer }}
    </div>
</div>

{{/if}}









{{if pdf_uploads}}
  <!--   <hr/>


  <div class="well white" style="font-family: Lato, sans-serif; padding: 30px 25px 30px 25px; font-size: 14px; color: #555;">

    <div style="font-size: 20px; margin-bottom: 20px;">{{tab2}}</div>

  <ul>
      {{pdf_uploads}}
      <li>
      <a href="{{pdf}}" class="track article-download-link">{{title}}</a>&nbsp;&nbsp;<i class="fa fa-file-pdf-o" style="margin-bottom: .3em"></i>
      </li>
      {{/pdf_uploads}}
  </ul>

    </div> -->
{{endif}}









</div>

{{if seriesExtro}}

<div class="article-series">
    <h6>
    All articles in this series
  </h6>
  {{seriesExtro}}
  </div>
{{endif}}
