

  <h4 class="text-center" style="font-family: 'Lato', san-serif;">Procurement</h4>
    <div class="separator-line" style="margin-bottom: 35px"></div>
	
	<p>
<b>IDJJ Procurement</b>
All procurements let by the Illinois Department of Juvenile Justice that exceed Small Purchase threshold and are subject to the Procurement Code may be viewed on the <a href="http://www.purchase.state.il.us/IPB/IllinoisBID.nsf/frmBidViewFrameset?ReadForm&view=viewSolicitationsOpenByDate?OpenView&Start=1&Count=250">Illinois Bid</a> section of the Illinois Procurement Bulletin. </p>

<ul>
<li>Click to access the <a href="http://www.purchase.state.il.us/IPB/IPBHomeP.nsf/HomePage?OpenFrameset">Illinois Procurement Bulletin</a>.</li>

<li style="margin-top: 10px;">
<p>Click to access <a href="https://www.bidbuy.illinois.gov/bso/">Illinois BidBuy</a>
</p></li>
  



  <div style="height: 20px"></div>

