<div class="sidebar" style="">
<h4 class="text-center" style="font-family: 'Lato', san-serif;">Funding</h4>
  <div class="separator-line" style="margin-bottom: 35px"></div>


  <div class="alert alert-danger" style="margin-bottom: 35px;">
    <div class="panel-heading">
      <h3 class="panel-title" style="line-height: 24px;">GATA REGISTRATION REQUIRED FOR ALL GRANT APPLICANTS</h3>
    </div>
    <div class="panel-body">
      <p>GATA Registration, Pre-Qualification and an ICQ submission is required for all grant applicants. 
ICJIA will only review grant application from agencies which have submitted a State Fiscal Year 2018 (SFY18) ICQ through the GATA website.</p>
    <p>
    <a href="https://grants.icjia.cloud/ ">Please review ICJIA’s GATA website</a> for information on how to comply with the GATA requirements and additional helpful grant information.</p>
      <div class="text-center">
      <!-- <a class="btn btn-danger" style="font-family: 'Lato', sans-serif; text-transform: uppercase; font-weight: 700; margin-top: 25px; margin-bottom: 30px" href="https://www.illinois.gov/sites/GATA/Grantee/Pages/default.aspx">Register now</a> -->
      <a class="btn btn-default" style="font-family: 'Lato', sans-serif; text-transform: uppercase; font-weight: 700; margin-top: 25px; margin-bottom: 30px" href="https://grants.icjia.cloud">Go To GATA website&nbsp;&raquo;
</a>
    </div>
    </div>
  </div>


{{entries:listing folder="grant-opportunities" show_past="false" show_future="true" conditions="icjiagrant:ICJIA" sort_dir="asc"}}

{{ if no_results }}
    <!-- <p class="text-center">
        There are no Authority funding opportunities available at this time.
    </p> -->
{{ else }}
<h4 class="h5" style="font-weight: 900; line-height: 25px;">
  <a href="{{if directURL}}{{directURL}}{{else}}{{url}}{{endif}}">{{title}}&nbsp;&raquo;</a></h4>
  <p>Deadline: {{date}}</p>

{{if !last}}
<div style="height: 25px;"></div>


{{endif}}
{{endif}}

{{ /entries:listing }}
<div style="height: 20px"></div>
<hr>
</div>
<div class="sidebar" style="">
<h4 class="text-center" style="font-family: 'Lato', san-serif;">Featured Sites</h4>
  <div class="separator-line" style="margin-bottom: 35px"></div>
      <div class="panel-body">
<!--<a class="thumbnail" href="https://www2.illinois.gov/sites/RegulatoryReform" target="_blank">
  <img alt="Cutting the Red Tape" src=" https://www2.illinois.gov/PublishingImages/Features/RedTape_feature.jpg "></a> -->
      <div class="text-center">
  <a class="thumbnail" href="https://www2.illinois.gov/sites/RegulatoryReform" target="_blank">
  <img alt="Cutting the Red Tape" src="/assets/img/splash/RedTape_feature.jpg"></a>
      </div>
      <div class="text-center">
  <a class="thumbnail" href="https://illinois200.com/" target="_blank">
  <img alt="Bicentennial" src="/assets/img/PARTNER_Endorsement_Seal_Illinois_Bicentennial_2.jpg"></a>
        </div>
  <div style="margin-bottom: 75px"></div>
</div>
</div>
</div>