
  <h4 class="text-center" style="font-family: 'Lato', san-serif;">Articles & Reports</h4>
    <div class="separator-line" style="margin-bottom: 35px"></div>


  {{ entries:listing folder="articles" limit="4" sort_dir="desc"}}

<div style="margin-bottom: 20px">

  <h4 class="h5" style="font-weight: 900; line-height: 25px;">
    <a href="{{url}}" >{{title}}</a></h4>
  <div style="font-size: 12px; color: #aaa; margin-top: -5px">
    <span class="addNewLabel" data-postType="article" data-postDate="{{date format='Y-m-d'}}"></span>
    &nbsp;
    <span style="text-transform: uppercase;">{{date}}</span>
  </div>
  </div>

  {{ /entries:listing }}

  <div class="text-center" style="margin-top: 50px">
  <a class="btn btn-default" href="/articles" role="button" style="text-transform: uppercase; font-family: 'Lato'; color: #000; margin-bottom: 20px;">Archive&nbsp;&raquo;</a>
  </div>


  <hr/>
