

	<div class="person {{unit|slugify}}" style="margin-top: 25px;">



		<h2 class="h5">
			<a href="{{url}}" target="_blank">
				{{ title }}
			</a>&nbsp;{{if orgtitle}}|&nbsp;<span style="color: #777">&nbsp;{{orgtitle}}</span>{{endif}}


		</h2>



		<h3 class="h6" style="margin-top: -10px">

			{{if unit }}
			<span style="color: #888;">{{unit}}</span>
			{{endif}}

      {{if organization == 'Adult Redeploy'}}
			<span style="color: #888;">Adult Redeploy</span>
			{{endif}}

      {{if organization == 'Family Violence Coordinating Councils'}}
			<span style="color: #888;">Family Violence Coordinating Councils</span>
			{{endif}}



			&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			{{if phone }}<span style="color: #555;">{{phone}}</a>{{else}}<span style="color: #555;">(312) 793-8550</a>{{endif}}&nbsp;&nbsp;&nbsp;|&nbsp;{{theme:partial src="author-social" use_context="true"}}
		</h3>



	</div>
