<style>
a.tvpp-social {color: #444}
a.tvpp-social:hover {color: #888}
.social-bar {font-family: 'Montserat', sans-serif; color: #fff;}
</style>


<section>



  <div style="padding-top: 20px; padding-bottom: 20px; background: #39404c" class="text-center">

<span class="h5 social-bar">Follow us on Facebook for more news & updates&nbsp;&nbsp;</span>

      <a href="https://www.facebook.com/targetedviolenceprevention/" target="_blank" class="tvpp-social btn btn-default btn-sm" style="font-family: 'Montserat', sans-serif; color: #333; font-weight: 700;">
        TVPP ON FACEBOOK  <i class="fa fa-facebook-official" style="color: #39404c"></i></a>


  </div>




</section>
