<!-- Navbar component
================================================== -->
{{theme:partial src="icjia-off-canvas-menu"}}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div id="navContainer" class="container">
<div class="navbar-header page-scroll">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </button>
  <div id="icjia-button-bar" style="display: inline; float: left; margin-top: 13px; margin-left: 8px;">
    <a class="offCanvasButton btn btn-sm btn-default  hidden-xs" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"
    style="display: none; background: #888; color: #fff; font-size: 11px">
    <i class="fa fa-bars fa"></i>&nbsp;<span style="font-weight: 900">ICJIA</span></a>

  </div>
  <a class="navbar-brand" href="/tvpp"> <span class="navbar-brand-illinois" >ILLINOIS</span> <span class="navbar-brand-tvpp">| Targeted Violence Prevention Program</a></span> </a>
  <a id="tvpp-mini" href="/tvpp" style="color: #000">Illinois | <span class="tvpp-red">TVPP</span></a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav navbar-right" style="text-transform: uppercase">
    <li {{if !segment_2}}class='active'{{/if}}> <a href="/tvpp" class="navLink menuTop page-scroll"> Home </a> </li>
    <li {{if segment_2 === 'our-approach'}}class='active'{{/if}}> <a href="/tvpp/our-approach" class="navLink menuTop page-scroll" > Our Approach </a> </li>
    <li {{if segment_2 === 'research'}}class='active'{{/if}}> <a href="/tvpp/research" class="navLink menuTop page-scroll" > Research </a> </li>
    <li {{if segment_2 === 'resources'}}class='active'{{/if}}> <a href="/tvpp/resources" class="navLink menuTop page-scroll" > Resources </a> </li>

      <!-- <li {{if segment_2 === 'partners'}}class='active'{{/if}}> <a href="/tvpp/partners" class="navLink menuTop page-scroll" > Partners </a> </li> -->
        <li {{if segment_2 === 'contact'}}class='active'{{/if}}> <a href="/tvpp/contact" class="navLink menuTop page-scroll" > Contact </a> </li>


    <!--  <li class="dropdown " data-animate="animated fadeInUp" style="z-index:500;"> <a href="#" class="dropdown-toggle " data-toggle="dropdown"> <i class="fa fa-search"> </i> </a>
        <ul class="dropdown-menu animated bounceInDown">
          <li id="dropdownForm">
            <div class="dropdown-form">
              <form class=" form-inline" method="post" name="searchForm" id="searchForm">
                <div class="input-group " style="padding: 4px 8px 4px 8px ">
                  <input type="text" id="siteSearchTerm" class="form-control" style="width: 200px" placeholder="search..." />
                  <span class="input-group-btn"> <input type="submit" class="btn btn-theme-bg" id="siteSearchButton" value="Go!" /> </span>
                </div>

              </form>

            </div>
             </li>

          </ul>
        </li>-->



          <!--nav search form-->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
