
<style>

  .news-single {


    -webkit-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.68);


background: #fdfdfd; padding: 0px 25px 25px 25px; margin-bottom: 50px;}

.filter-group a:hover {cursor: pointer; cursor: hand;}
#circuit-message {display: none}
.btn {color: #000}
</style>


	<h1  class="main-head" style="margin-bottom: 30px">TVPP News & Updates</h1>




<div id="news-grid">

{{ entries:listing folder="/tvpp/tvpp-news" show_past="true" show_future="true" }}

<div class="news-single" style="">

  <div style="padding: 8px 5px; background: #aaa; color: #fff; display: inline-block; margin-left: -25px; font-weight: 700; font-size: 12px; margin-bottom: 10px; text-transform: uppercase; font-family: 'Montserrat', sans-serif;">POSTED: {{date}}</div>

  <h4 class="h4" style="text-transform: uppercase; font-weight: 700">
  {{ title|widont }}
</h4>



<div style="margin-left: 10px; ">
{{ content }}
</div>




        <hr/>




</div>




{{ /entries:listing }}
</div>



<div style="height: 100px"></div>
