/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #ccc;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #ddd;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}




tr.odd {
	background-color: #eee;
}

tr.even {
	background-color: white;
}



/* default anchors
----------------------------------------------- */
table a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  outline: 0;
  
}

table a:focus
{
	outline: 0;
}


table a:hover { color: #888; text-decoration: underline; }






.dataTables_length {
	padding: 0px;
	padding-right: 25px;
	width: 20%;
	float: left;
}

