---
_fieldset: tvpp-page
title: Targeted Violence Prevention Program Home
_template: default-blank
upload: ""
_layout: tvpp-default
tvppSocialBar: 'bottom'
breadcrumbs: 'false'
splash: /assets/tvpp/img/banner03.jpg
displaySplash: 'false'
summary: 'The Illinois Criminal Justice Information Authority’s Targeted Violence Prevention Program (TVPP) uses a public health approach to preventing ideologically inspired targeted violence. TVPP works with interested communities in building and sustaining community-level programs that can prevent individuals from being recruited to commit ideologically inspired targeted violence, and to help off-ramp individuals who have begun down the path ideologically inspired targeted violence but have not yet committed a crime.'
super_positive_keywords:
  - targeted violence
  - terrorism
  - junaid afeef
  - icjia
  - violence
  - isis
  - extremism
  - terrorism
  - tvpp
---



<style>

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
  opacity: .6;
}
</style>
<div id="page-top">
</div>
<!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Content -->
<!-- <div class="intro-header" style="margin-top: 40px">

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <div class="intro-message">








          </div>
        </div>
      </div>
    </div>

  </div>
   -->



   <header id="myCarousel" class="carousel slide">
       <!-- Indicators -->
       <!-- <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>

       </ol> -->

       <!-- Wrapper for Slides -->
       <div class="carousel-inner">
           <div class="item active">
               <!-- Set the first background image using inline CSS below. -->
               <div class="fill" style="background-image:url('/assets/tvpp/img/banner03.jpg');"></div>
               <div class="carousel-caption">

                   <h2 style="font-size: 36px"><span class="heavy spaced" style="font-weight: 900; color: #eee">ILLINOIS</span>&nbsp;|&nbsp;<span class="thin" style="text-transform: uppercase; color: #fff">Targeted Violence Prevention Program</span></h2>
                   <h5 style="margin-top: 15px;" class="tvpp-light2">Helping to build & sustain community-level programs to prevent ideologically inspired targeted violence in our communities</h5>
                     <!-- <img src='/assets/ifvcc/img/logo3-white-slider.png' style='margin-top: 15px'> -->

               </div>
           </div>
           <div class="item">
               <!-- Set the second background image using inline CSS below. -->
               <div class="fill" style="background-image:url('/assets/tvpp/img/banner01.jpg');"></div>
               <div class="carousel-caption">

                   <h2 style="font-size: 36px"><span class="heavy spaced" style="font-weight: 900; color: #eee">ILLINOIS</span>&nbsp;|&nbsp;<span class="thin" style="text-transform: uppercase; color: #fff">Targeted Violence Prevention Program</span></h2>
                    <h5 style="margin-top: 15px;" class="tvpp-light2">Helping to build & sustain community-level programs to prevent ideologically inspired targeted violence in our communities</h5>
                   <!-- <img src='/assets/ifvcc/img/logo3-white-slider.png' style='margin-top: 15px'> -->

               </div>
           </div>

       </div>

       <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
           <span class="icon-prev"></span>
       </a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next">
           <span class="icon-next"></span>
       </a>

   </header>




<section>

   <!-- focus areas  -->
   <div class="hidden-xs hidden-sm">
   <div class="container-fluid" style="margin: 0; padding: 0">

   <div class="equal">
   <div class="col-sm-4 col-md-4 col-lg-4 icjia-hover">
   	<a href="/tvpp/our-approach">
   <div class="service-inner">

   <h6 class="entry-title">Our Approach</h6>
   <p class="p-description">The Targeted Violence Prevention Program promotes a public health approach to preventing ideologically inspired targeted violence in Illinois. Our approach relies on promoting prevention at the community-level through community-based and faith-based organizations.  </p>
   </div>
   </a>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4 icjia-hover">
   	<a href="/tvpp/research" >
   <div class="service-inner">

   <h6 class="entry-title">Research</h6>
   <p class="p-description">The Targeted Violence Prevention Program makes outside research on targeted violence prevention and countering violent extremism more accessible to community-based and faith-based organizations.  TVPP can also partner with community-level efforts to conduct research on current and new targeted violence prevention programs.</p>
   </div>
   </a>
   </div>

   <div class="col-sm-4 col-md-4 col-lg-4 icjia-hover">
   	<a href="/tvpp/resources" >
   <div class="service-inner">

   <h6 class="entry-title">Resources</h6>
   <p class="p-description">The Targeted Violence Prevention Program is developing new resources and curating existing resources to help community-based and faith-based organizations develop and sustain community-level programs to prevent ideologically inspired targeted violence.</p>
   </div>
   </a>
   </div>

   <!-- <div class="col-sm-3 col-md-3 col-lg-3 icjia-hover">
   	<a href="/tvpp/partners" >
   <div class="service-inner">

   <h6 class="entry-title">Partners</h6>
   <p class="p-description">TVPP works with community-based and faith-based partners in communities throughout Illinois as well as other state agencies, the federal government, local units of government, law enforcement, and the private sector.
</p>
   </div>
   </a>
   </div> -->





   </div>
   </div>
   </div>


</section>



<section class="">



   <div class="container-fluid" style="background: #39404c; color: #333; padding: 0; margin: 0;">
         <div class="row">


              <div class="col-md-5 col-sm-12" id="bg1"></div>


              <div class="col-md-7 col-sm-12">
                <div class="text-container" style="color: #fff">
                <h1 class="h4" style="text-transform: uppercase; font-weight: 900; border-bottom: 1px solid #fff; padding-bottom: 8px; margin-bottom: 20px">Welcome to the Targeted Violence Prevention Program</h1>
            <p>The Illinois Criminal Justice Information Authority’s Targeted Violence Prevention Program (TVPP) uses a public health approach to preventing ideologically inspired targeted violence.  TVPP works with interested communities in building and sustaining community-level programs that can prevent individuals from being recruited to commit ideologically inspired targeted violence, and to help off-ramp individuals who have begun down the path ideologically inspired targeted violence but have not yet committed a crime.</p>

<p>
Ideologically inspired targeted violence is a low frequency/high impact crime.  Whether it takes the form of domestic terrorism or violent hate crimes, it is a scourge on our society, and it strains the healthy social cohesion essential to our diverse communities.</p>

<p>Illinois is home to 23 active hate groups, and in 2014 there have were 131 cases of hate crimes in the state.  Of those, 101 were cases of intimidation, assault and aggravated assault. Between March 2014 and April 2016 there were 5 individuals from Illinois charged with ISIS-related offenses.</p>

<div class="text-center" style="margin-top: 30px">

<a class="btn btn-tvpp" href="/tvpp/our-approach" style="text-transform: uppercase; font-family: 'Montserrat', sans-serif; color: #fff;">Find out more&nbsp;&raquo;</a>

</div>


  </div>
              </div>
         </div>
    </div>
</section>





<section>



   <div class="container-fluid" style="background: #ddd; color: #333; padding: 0; margin: 0;">
         <div class="row">


              <div class="col-md-6 col-sm-12">

                  <!-- <i class="scroll-reminder-up fa fa-angle-double-up" style="float: right; font-weight: 900; margin-top: 15px; color: #999; margin-left: 10px; margin-bottom: 30px; " aria-hidden="true"></i> -->

                <div class="">


                    <!-- <i class="scroll-reminder-up fa fa-angle-double-up fa-2x" style="margin-top: 10px; color: #888" aria-hidden="true"></i> -->
                </div>

            <div id="news-scroller" class="contentHolder">

              <h2 class="h4" style="text-transform: uppercase; font-weight: 900; border-bottom: 1px solid #777; padding-bottom: 8px; margin-bottom: 20px">News & Updates</h2>

              <div class="news-content">

              {{ entries:listing folder="/tvpp/tvpp-news" limit="10" show_past="true" show_future="true"}}
            	    {{ if no_results }}
            		  <p class="sorry">
            			No news is good news.<br>
            			Check back soon.
            		  </p>
            	    {{ else }}




                  <div class="news-item" style="border-bottom: 1px solid #bbb; margin-bottom: 10px; padding-bottom: 15px">
                  <div style="font-weight: 900; margin-top: 40px; line-height: 30px; text-transform: uppercase; font-family: 'Montserrat', sans-serif; font-weight: 700">
                    {{if updatedItem}}
                    <span style="font-weight: 400; color: #666" class="addUpdateLabel" data-postDate="{{date format='Y-m-d'}}"></span>
                    {{endif}}
                    <span style="font-weight: 400; color: #666" {{if !updatedItem}} class="" data-postType="news" data-postDate="{{date format='Y-m-d'}}"{{endif}}>{{ date }}</span> | <a href="{{ url }}">{{if displayTitle}}{{ displayTitle }}{{else}}{{title}}{{endif}}</a></div>

                      <div class="">
                      {{ content }}
                      </div>

                    </div>







            	    {{ endif }}
            	{{ /entries:listing }}
            </div>

            <div class="text-center" style="margin-top: 50px">
            <a class="btn btn-tvpp" href="/tvpp/tvpp-news" role="button" style="text-transform: uppercase; font-family: 'Montserrat', sans-serif; color: #fff; margin-bottom: 20px;">All News & Updates&nbsp;&raquo;</a>
            </div>

            </div>


            <div class="">
              <!-- <i class="scroll-reminder-down fa fa-angle-double-down" style="float: right; font-weight: 900; margin-top: 20px; color: #999" aria-hidden="true"></i> -->

                <!-- <i class="scroll-reminder-up fa fa-angle-double-up fa-2x" style="margin-top: 10px; color: #888" aria-hidden="true"></i> -->
            </div>


              </div>


              <div class="col-md-6 col-sm-12" id="bg2">
                <div class="text-container">



                </div>
              </div>
         </div>
    </div>
</section>
