---
breadcrumbs: true
---

<div class="container">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-9">
    <h2 class="h3" style="text-transform: uppercase; margin-bottom: 30px; border-bottom: 1px #ccc solid; padding-bottom: 8px;">Articles and Reports</h2>
	{{ entries:listing folder="articles" }}
	    {{ if no_results }}
		  <p class="sorry">

			Check back soon.
		  </p>
	    {{ else }}
		    {{ theme:partial src="article-snippet" use_context="true" }}
	    {{ endif }}
	{{ /entries:listing }}


  </div>



</div>
</div>
