---
breadcrumbs: true
---


<div class="container">
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-9">


    <h3 style="margin-bottom: 25px;">

	{{ title }}{{if degrees}}{{degrees}},&nbsp;{{name}}{{/degrees}}{{endif}}

	{{if role=='Board'}}{{modifier}}&nbsp;{{orgtitle}}{{endif}}

    </h3>



{{ entries:listing folder="biographies" conditions="title:{title}" }}

{{if authorPhoto}}
<img src="{{ transform src="{authorPhoto}" height="125"}}"
    style="float: left; padding-right: 14px;" />
{{endif}}
  <p>

		{{content}}




	{{if role == 'Staff'}}
		{{if orgtitle}}
  		<p>{{title}} is
				{{if modifier == 'a'}}
				an
				{{else}}
				{{modifier}}
				{{endif}}
				{{if organization == 'ICJIA'}}
					{{if removeAuthority == 'true'}}
					{{else}}
						Authority
					{{/if}}
				{{else}}
				{{organization}}
				{{endif}} {{orgtitle}}.
				<div style="margin-top: 5px; margin-bottom: 5px"></div>
				{{if phone}}{{phone}}{{else}}(312) 793-8550{{endif}}&nbsp;&nbsp;
  		{{theme:partial src="author-social" use_context="true"}}</p>
		{{endif}}

		{{if !content}}
		<div style="height: 60px"></div>

			{{endif}}</p>

  		{{if academicBackground}}
  		<h4 class="h6">Academic Background</h4>
  		{{academicBackground}}
  		{{/if}}

  	{{if interestAreas}}
  	<h4 class="h6">Areas of Interest</h4>
  	{{interestAreas}}
  	{{/if}}

		{{if grantsManaged}}
  	<h4 class="h6">Grants Managed</h4>
  	{{grantsManaged}}
  	{{/if}}
{{endif}}


{{ /entries:listing }}


<!-- TODO: Add lightbox for author photo -->


{{ entries:listing folder="articles" conditions="authors:{title}"}}
  {{ if no_results }}

  {{ else }}

	{{ if first}}
	<hr/>
	<h4 style="text-transform: uppercase; margin-bottom: 15px;">Articles</h4>
	{{endif}}
    {{ theme:partial src="article-snippet" use_context="true" }}
  {{ endif }}
{{ /entries:listing }}


</p>

</div>
</div>
</div>
