	<script src="{{ theme:asset src='bower_components/jquery/dist/jquery.min.js' }}"></script>
<style>
.rule {padding-bottom: 5px; border-bottom: 1px solid #ddd}
h2.h5 {font-weight: 700}
.panel-title {text-transform: uppercase}
.council-content {margin-bottom: 30px}
</style>



<div class="panel panel-default" style="margin-top: 40px">
  <div class="panel-heading">
    <h3 class="panel-title text-center">{{circuitTitle}}</h3>
  </div>
  <div class="panel-body" style="font-size: 14px; font-face: Lato, sans-serif;">

    <div class="text-center" style="color: #888; font-size: 14px; margin-top: 20px; margin-bottom: 30px">Please contact coordinator for more information.</div>

    {{if counties}}
    <h2 class="h5 rule">Counties Served</h2>
    <!-- <img src='/sitedev/ifvcc/img/logo-no-text.png' width='75' style="float: left; padding-right: 10px; margin-top: 10px; padding-bottom: 0px"> -->

      <div class="council-content">
      {{counties}}
      </div>

    {{endif}}


    {{if leadership}}

    <h2 class="h5 rule">Council Leadership</h2>

        <div class="council-content">
      {{leadership}}
      </div>

    {{endif}}

      {{if coordinator}}
    <h2 class="h5 rule">Coordinator</h2>

      <div class="council-content">
      {{coordinator}}
      </div>

    {{endif}}

      {{ if committees}}
    <h2 class="h5 rule">Committees</h2>

      <div class="council-content">
      {{committees}}
      </div>

    {{endif}}


      {{ if publications}}
    <h2 class="h5 rule">Publications</h2>

      <div class="council-content">
    {{publications}}
    </div>

    {{endif}}


    {{if socialMedia}}
    <h2 class="h5 rule">Social Media</h2>

            <div class="council-content">
    					{{socialMedia}}
              </div>

              {{endif}}


            <h2 class="h5 rule"><span id="circuit-name"></span>&nbsp; News & Events</h2>
              {{ entries:listing folder="/ifvcc/ifvcc-news" limit="5" sort_dir="desc" show_past="true" show_future="true"  conditions="circuit:{title}"}}
                {{ if no_results }}
                No upcoming events
                {{else}}
                <div style="margin-bottom: 30px">
              <span style="text-transform: uppercase; color: #aaa;">{{date}}</span> | <span style="text-transform: uppercase; font-weight: 900"><a href="{{url}}">{{title}}&nbsp;&raquo;</a></span>

            </div>
                {{ endif }}
                	{{ /entries:listing }}



</div>

<script>
function ordinal_suffix(i) {


    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
}
var s=Number('{{title}}');

if (s==500) {
$('#circuit-name').html('Cook County');
} else {
$('#circuit-name').html(ordinal_suffix(s) + ' Circuit');
}

</script>
