<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <h2 class="h6" style="color: #999; text-transform: uppercase">{{granttype}} program</h2>
      <h3 class="h4" style="border-bottom: 1px solid #ccc; padding-bottom: 8px; margin-bottom: 20px">{{title}} {{if programLink}}

        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{programLink}}" class="" role="button">{{programLinkText}}
          <i class="fa fa-external-link"></i></a>

          {{endif}}</h3>

          <div style="text-transform: uppercase; margin-bottom: 10px; font-size: 12px; font-weight: 900; color: #666; font-family: 'Lato', sans-serif">Status: {{grantstatus}}</div>
      {{content}}





      {{if attachmentA}}
      <h3 class="h6">Program allocations by fiscal year:</h6>

      {{attachmentA}}
      {{endif}}




      <p style="margin-top: 20px">For more information about ICJIA administered grant programs, please call the Authority, 312-793-8550 or email
        <a href="mailto: cja.grantsunit@illinois.gov">cja.grantsunit@illinois.gov</a>.</p><p>For a list of all current and archived grant programs, please see the <a href="/grant-programs">complete list of grant programs</a>.</p>
    </div>
  </div>
</div>
