<p>&nbsp;</p>
<p>
  
</p>
<div class="container-fluid" id="content-top">
  <div class="row">


    <div class="col-md-3 scrollspy">
      <div class="bs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="70" data-offset-bottom="400">
        <ul class="nav bs-sidenav">

          <li >
            <a data-target="#icjia-page-top" style="font-weight: 900" class="scrollclass">Motor Vehicle Theft Prevention Council</a>
            <ul class="nav">
              <li ><a data-target="#overview" class="scrollclass">Overview</a></li>
              <li ><a data-target="#news" class="scrollclass">News and Information</a></li>              
              <li ><a data-target="#meetings" class="scrollclass">Meeting Dates and Locations</a></li>
              <li ><a data-target="#minutes" class="scrollclass">Meeting Minutes</a></li>
              <li ><a data-target="#strategy" class="scrollclass">RFI: 2016 - 2019 Strategy</a></li>
              <li><a data-target="#insurance-assessment" class="scrollclass">Insurance Assessment</a></li>
              <li><a data-target="#annual-report" class="scrollclass">Annual Report</a></li>
              <li><a data-target="#NICB-form" class="scrollclass">NICB Insurance Vehicle Expense Fund Form</a></li>
              <li><a data-target="#contact" class="scrollclass">Contact the MVTPC</a></li>





            </ul>
          </li>

        </ul>
      </div>
    </div>



    <div class="col-md-8">
      <h1 class="h3" id="overview" style="margin-top: 0px;border-bottom: 1px solid #ccc; padding-bottom: 5px;" >{{title}}</h1>
      {{content}}


    </div>
  </div>
</div>
