
<div style="height: 20px"></div>

<table id="publication-list-ajax" class="display" style="font-size: 14px;" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Published</th>
                  <th>Title</th>
                <th>Type</th>


                <th width="20%">Links</th>

            </tr>
        </thead>

        <tfoot>
            <tr>
              <th>Published</th>
              <th>Title</th>
              <th>Type</th>


              <th>Links</th>
            </tr>
        </tfoot>

        <tbody>
          {{entries:listing folder="publications"}}
          <tr>
            <td>{{date format="Y-M" }}</td>

            <td style="text-align: left">

              {{title}}
              </td>
              <td style="text-transform: uppercase; text-align: left">{{pubtype}}{{name}}{{/pubtype}}</td>



            <td style="text-align: left">



              <span style="display:inline;">



              <a type="button" style="margin-bottom: 4px; font-size: 10px; text-transform: uppercase; font-family: 'Oswald', sans-serif;" class="btn btn-primary btn-xs track" href="{{puburl}}">Download&nbsp;&nbsp;<i class="fa fa-file-pdf-o fa-block" style="vertical-align: middle;margin-top: -0.425em"></i></a>

              {{if articleLink}}
          <a type="button" style="margin-bottom: 4px; font-size: 10px; text-transform: uppercase; font-family: 'Oswald', sans-serif;" class="btn btn-danger btn-xs" href="{{articleLink}}" target="_blank">Article&nbsp;&nbsp;<i class="fa fa-external-link fa-block" style="vertical-align: middle;margin-top: -0.425em"></i></a>&nbsp;


        {{endif}}

            </span>



            </td>
          </tr>
          {{/entries:listing}}

          {{theme:partial src="publications-archived"}}

        </tbody>
    </table>



    <script>
        $(document).ready(function() {

          $( ".track" ).on( "click", function() {
          	var href = $(this).attr('href');
          	var file_name1 = href.split(/[\\\/]/).pop();
          	ga('send', 'event', 'Downloads', 'Click', file_name1);
          	console.log('Download: ' + file_name1);

          });



          $('#publication-list-ajax').dataTable({
              "order": [[ 0, "desc" ]],
              "responsive": true,
              "pageLength": 50,
              "drawCallback": function( settings ) {
                        //fnOpenClose();
                        console.log( 'DataTables has redrawn the table and called function' );
              }
          });




    		});
    </script>
