
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>TVPP {{if title}}| {{ title }}{{endif}}</title>
		<meta name="description" content="{{if summary}}{{summary|striptags}}{{else}}{{ defaultDescriptionTVPP }}{{endif}}">
		<meta name="keywords" content="{{defaultKeywordsTVPP}}">
		<meta name="date" content="{{ current_date }}">
		<link rel="canonical" href="{{ permalink }}">


		<!-- Facebook metatags -->
				<meta property="og:title" content="{{ title }}" />
				<meta property="og:site_name" content="{{ defaultSiteNameTVPP }}"/>
				<meta property="og:url" content="{{ permalink }}" />
				<meta property="og:description" content="{{if summary }}{{ summary }} {{else}} {{defaultdescriptionTVPP }} {{endif}}" />
				<meta property="fb:app_id" content="{{facebookAppId}}" />
				<meta property="og:type" content="{{facebokContentType}}" />
				<meta property="og:locale" content="en_US" />
				<meta property="article:author" content="{{ facebookAuthorURLTVPP }}" />
				<meta property="og:image" content="{{if splash}}http://www.icjia.state.il.us{{splash}}{{else}}{{socialMediaImageTVPP}}{{endif}}" />
		<!-- // Facebook metatags -->


		<!-- Twitter metatags -->
			<meta name="twitter:card" content="summary" />
			<meta name="twitter:site" content="@ICJIA_Illinois" />
			<meta name="twitter:title" content="{{title}}" />
			<meta name="twitter:description" content="{{if summary }}{{ summary }} {{else}} {{defaultdescriptionTVPP }} {{endif}}" />
			<meta name="twitter:image" content="{{socialMediaImageTVPP}}" />
			<meta name="twitter:url" content="{{ permalink }}" />
		<!-- //Twitter metatags -->





<link rel="apple-touch-icon" sizes="57x57" href="{{ theme:img src="icons/apple-icon-57x57.png"}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ theme:img src="icons//apple-icon-60x60.png"}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ theme:img src="icons//apple-icon-72x72.png"}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ theme:img src="icons//apple-icon-76x76.png"}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ theme:img src="icons//apple-icon-114x114.png"}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ theme:img src="icons//apple-icon-120x120.png"}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ theme:img src="icons//apple-icon-144x144.png"}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ theme:img src="icons//apple-icon-152x152.png"}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ theme:img src="icons//apple-icon-180x180.png"}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ theme:img src="icons//android-icon-192x192.png"}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ theme:img src="icons//favicon-32x32.png"}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ theme:img src="icons//favicon-96x96.png"}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ theme:img src="icons//favicon-16x16.png"}}">
<link rel="manifest" href="{{ theme:img src="icons//manifest.json"}}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ theme:img src="icons//ms-icon-144x144.png"}}">
<meta name="theme-color" content="#ffffff">




		<link href="{{ theme:asset src='css/tvpp.css' }}" rel="stylesheet" property="stylesheet">





		<!-- Google Fonts -->
		<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" />

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" />
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
 -->

		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Neuton:400,700,800,200,300,400italic' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" />


		<!-- End Google Fonts -->


			<script src="{{ theme:asset src='bower_components/jquery/dist/jquery.min.js' }}"></script>
			<script src="{{ theme:asset src='bower_components/jquery-easing-original/jquery.easing.min.js' }}"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


		<link href="{{theme:asset src='bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css'}}" rel="stylesheet">
		<script src="{{theme:asset src='bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js'}}"></script>

		<!-- jasny bootstrap -->
		<link href="{{theme:asset src='bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css'}}" rel="stylesheet">
		<script src="{{theme:asset src='bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js'}}"></script>
		<script src="{{theme:asset src='bower_components/jasny-bootstrap/js/offcanvas.js'}}"></script>

		<script src="{{ theme:asset src='bower_components/moment/min/moment.min.js' }}"></script>

  	<link rel="stylesheet" property="stylesheet" href="{{ theme:asset src='bower_components/bx-slider.js/dist/jquery.bxslider.min.css'}}">



	</head>

	<body>

		<!-- <div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=658596667606445";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script> -->

    <div id="page-top"></div>
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->



		{{theme:partial src="tvpp-nav"}}
		{{ theme:partial src="tvpp-breadcrumbs"}}

		{{ if (progressBar==='true') }}
		{{ theme:partial src="tvpp-progress-bar" }}
			{{/if}}


			{{ if (displaySplash==='true') }}
				{{ theme:partial src="tvpp-splash"}}
			{{/if}}

			{{if (tvppSocialBar=== 'top') }}
			{{ theme:partial src="tvpp-social-bar" }}
			{{/if}}


					<!-- ////////////////////////////////////////////////// content-start \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
					<div id="content-wrap-tvpp">
		      {{ layout_content }}
					</div>
					<!-- ////////////////////////////////////////////////// content-end \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

			{{if (tvppSocialBar=== 'bottom') }}
			{{ theme:partial src="tvpp-social-bar" }}
			{{/if}}
			{{ theme:partial src="footer-dark" }}

			{{ theme:partial src="tvpp-funding-disclosure" }}





		<script src="{{ theme:asset src='bower_components/bootstrap/dist/js/bootstrap.min.js' }}"></script>
		<script src="{{ theme:asset src='bower_components/bx-slider.js/dist/jquery.bxslider.min.js' }}"></script>
		<script src="{{ theme:asset src='bower_components/jquery-countTo/jquery.countTo.js' }}"></script>
		<script src="{{ theme:asset src='js/tvpp.js' }}"></script>




		<script>
		 $(document).ready(function ($) {

			// $('.scroll-reminder-up').show();
			 $('#news-scroller').perfectScrollbar();

		 });




	 </script>


		{{theme:partial src="google-analytics"}}

		{{theme:partial src="google-tracking"}}

		{{theme:partial src="sticky-social-sidebar"}}


</body>
</html>
