// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #fff; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

$header: #eee;
$section-0: #ddd;
// $section-1: #394FA5;
$section-1: #3E4871;
// $section-2: #233166;
$section-2: #3C4A84;
// $section-3: #394FA5;
// $section-3: #3A4E9A;
$section-3: #40455B;
// $footer: #161E3F;
// $footer: #40455B;
$footer: #262726;

// fonts

// $primary-font: 'Droid Serif', serif;
// $secondary-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;
// $secondary-font: 'Roboto', sans-serif;
$header-font: 'Oswald', sans-serif;
$font-size: 18px;
$font-light: #fff;
