---
title: Overview
_template: page
_fieldset: page
upload: ""
super_positive_keywords:
  - FSGU
  - grants
  - funding
  - VAWA
  - Byrne
  - JAG
  - MVTPC
  - FAQ
  - Frequently Asked Questions
  - VOCA
  - victims
  - violence
  - stop
  - civil rights
  - pediatric
  - protocol
summary: The Federal and State Grants Unit oversees federal and state assistance programs administered by the Authority. The unit is responsible for developing, implementing, and monitoring state and local programs. These tasks include planning, program development, technical assistance, coordination, and administration.
breadcrumbs: 'true'
---


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="alert alert-danger alert-dismissible text-center" role="alert" style="font-family: 'Lato', sans-serif;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>GATA Registration required for all grant applicants</strong><div style="margin-top: 10px;">Register now at the <a href="https://www.illinois.gov/sites/GATA/Grantee/Pages/default.aspx">State of Illinois GATA page</a>.</div>
</div> -->

<div class="alert alert-danger alert-dismissible text-center" role="alert" style="margin-bottom: 55px; font-family: 'Lato', sans-serif;">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>GATA Registration, Pre-Qualification and an approved ICQ is required for all grant applicants</strong>

<div style="margin-top: 10px;"><p>
ICJIA will only review grant application from agencies which are in compliance with the GATA requirements.</p><p><a href="https://gata.icjia.cloud/ "><strong>Please review ICJIA’s GATA website</strong></a> for information on how to comply with the GATA requirements and additional helpful grant information.</p>
</div>
</div>



    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 ">
      <h1 class="h3" style="padding-bottom: 5px; margin-top: 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;">Federal and State Grants Unit</h1>
      <h2 class="h5" style="color: rgb(119, 119, 119); margin-bottom: 15px;">
      <a href="/biographies/kevin-n-givens">Kevin N. Givens</a>, Associate Director</h2>

         <div class="bs-sidebar hidden-print" role="complementary">
           <div class="nav bs-sidenav well" style="margin-top: 40px;">

             <h3 class="h5" style="padding-bottom: 8px; text-transform: uppercase; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;">ICJIA Grant opportunities</h3>

               {{entries:listing folder="grant-opportunities" show_past="false" show_future="true" sort_dir="asc" conditions="icjiagrant:ICJIA"}}

               {{ if no_results }}
                   <p class="text-center">
                       There are no Authority grant opportunities available at this time.
                   </p>
               {{ else }}
               <h4 class="h6">
                   <a href="{{if directURL}}{{directURL}}{{else}}{{url}}{{endif}}">{{title}}&nbsp;&raquo;</a></h4>
                 <p>Deadline: {{date}}</p>

               {{if !last}}

               <hr>

               {{endif}}
               {{endif}}





               {{/entries:listing}}




           </div>
         </div>







    </div>





    <div class="col-sm-12 col-md-9 col-lg-9">





        	  <p>The Federal & State Grants Unit oversees federal and state assistance programs administered by the Authority. The unit is responsible for developing, implementing, and monitoring state and local programs. These tasks include planning, program development, technical assistance, coordination, and administration.</p>

            <p>For more information about ICJIA administered grant programs, please call the Authority, 312-793-8550 or email <a href="mailto: cja.grantsunit@illinois.gov">cja.grantsunit@illinois.gov</a>.</p>

            <hr>


            <div class="tabbable responsive">
            <div class="default-view-tabs" style="margin-top: 20px;">
          		<!-- <div class="tabbable-panel">
          				<div class="tabbable-line"> -->
                  <div>
                    <div>
                    <ul class="nav nav-tabs responsive" id="FSGU-tabs" role="tablist">
                      <li role="presentation"><a id="article-tab3" role="tab" aria-controls="profile" href="#grant-programs" data-toggle="tab"> Programs</a></li>

                        <li role="presentation"><a id="article-tab2" role="tab" aria-controls="home" href="#grant-opportunities" data-toggle="tab">Opportunities</a></li>

                            <li role="presentation"><a id="article-tab1" role="tab" aria-controls="home" href="#grant-resources" data-toggle="tab">Resources</a></li>

                        <li role="presentation"><a id="article-tab4" role="tab" aria-controls="home" href="#grant-faqs" data-toggle="tab">FAQ</a></li>

                        <li role="presentation"><a id="article-tab5" role="tab" aria-controls="home" href="#grant-staff" data-toggle="tab">Staff</a></li>











                    </ul>


            <div class="tab-content" style="margin-top: 30px;">
            	<div class="tab-pane active" id="grant-programs" role="tabpanel">

                <div class="well text-center" style="margin-bottom: 30px; font-weight: 700">
                <p >The following programs are currently managed by the Authority. For a complete list of all current and past grant programs, please see the <a href="/grant-programs">grant archive</a>.</p>

              </div>
                  {{ theme:partial src="grants-programs-current"}}





        	   </div><!-- //Tab: programs -->





          <div class="tab-pane" id="grant-faqs" role="tabpanel">





          {{ theme:partial src="grants-faq"}}








          </div>





          </div><!-- //Tab: faq -->



          <div class="tab-pane" id="grant-staff">
            {{ theme:partial src="grants-staff"}}
          </div>



          <div class="tab-pane" id="grant-resources" role="tabpanel">
            <!-- ******* resources tab start ***************** -->

          {{theme:partial src="grants-resources"}}



              <!-- ******* //resources tab end ***************** -->
          </div><!-- //Tab: Resources -->


          <div class="tab-pane" id="grant-opportunities" role="tabpanel">
            <!-- ******* opportunities tab start ***************** -->





            {{theme:partial src="grants-opportunities"}}







              <!-- ******* //opportunities tab end ***************** -->
          </div><!-- //Tab: Opportunities -->



        </div> <!-- //tab-content -->
      </div> <!-- //tabbable-line -->
    </div> <!-- //tabbable-panel -->
  </div> <!-- //article-view-tabs -->



</div>

    </div>
  </div> <!-- //row -->
 <!-- //container -->
 </div>

<script>




$(document).ready(function() {


  $('#grant-opps-table').dataTable({
      "order": [[ 0, "asc" ]],
      "responsive": true,
      "fnDrawCallback": function( oSettings ) {
        console.log( 'DataTables has redrawn the table' );
        fnOpenClose();
    }
  });

  function fnOpenClose(){

    $( ".modal-trigger" ).on( "click", function(e) {
      e.preventDefault();
      var url=$(this).attr('href');
      var title = $(this).attr('title');
      console.log(url, title);
      eModal.ajax(url, title);
    });


  }

	$('.grant-expander').readmore({
		speed: 175,
		collapsedHeight: 91,
		moreLink: '<a href="#"><span class="expand-style">More  <i class="fa fa-angle-double-down"></i></span></a>',
		lessLink: '<a href="#"><span class="expand-style"><i class="fa fa-angle-double-up"></i>  </span></a>',
		afterToggle: function() {
			progressBarInit();
		}
	});


  $(".tabbable.responsive").resptabs();





});
</script>
