---
_fieldset: gata-page
title: GATA Home
_template: default-blank
upload: ""
_layout: gata-default
breadcrumbs: 'false'
keywords:
  - gata
  - grants
  - funding
  - FSGU
  - Federal and State Grants
  - Funding opportunities
  - ICJIA
  - criminal justice
summary: GATA confirms ICJIA's commitment to the Federal Uniform Guidance 2 CFR 200, which went into effect in December 2014.  The Uniform Guidance already applies to all federal grants and federal pass-through funds.
GATA also requires Illinois' state grants to follow these federal rules for grants which are state funded.
This landmark legislations will increase accountability and transparency in the use of grant funds.
Once fully implemented, it will unify processes and reduce administrative burdens for state agencies and grantees.
---
<style>

.mb30 {margin-bottom: 30px}

a .icon-box-1 {padding: 15px 20px; font-weight: 400; -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
text-decoration: none;
}
a:hover .icon-box-1 {
  text-decoration: none;
  background: #23525a;
  color: #fff;
  cursor: pointer;
  -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
-webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
box-shadow: 0px 3px 8px rgb(100,100,100);
  }



.icon-box-1 .title {border-bottom: 1px solid #bbb; padding-bottom: 8px;}


</style>
<div id="page-top">
</div>
<!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Content -->
<!-- <div class="intro-header" style="margin-top: 70px">

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <div class="intro-message">






          </div>
        </div>
      </div>
    </div>

  </div> -->
  <!-- /.intro-header -->
<!-- /.intro-header -->





        <section style="margin-top: 60px; " class="hidden-xs hidden-sm">




           <div class="container-fluid" style="border-top: 1px solid #bbb; background: #fff; color: #333; padding: 0; margin: 0;">



                      <div class="col-md-6 col-sm-12 col-xs-12 ">

                        <div class="hero-heading" style="margin-top: -10px; margin-left: -15px; margin-right: -15px;">
                          <div class="text-center">

                                  <h2 class="h4 section-title">News & Announcements</h2>


                          </div>
                        </div>

                          <!-- <i class="scroll-reminder-up fa fa-angle-double-up" style="float: right; font-weight: 900; margin-top: 15px; color: #999; margin-left: 10px; margin-bottom: 30px; " aria-hidden="true"></i> -->


                    <div id="news-scroller" class="contentHolder">

                      <div class="text-center">

                        <p style="color: #777; text-transform: uppercase; font-size: 12px; font-weight: 900;">Scroll for GATA news&nbsp;&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i></p>

                          <!-- <i class="scroll-reminder-up fa fa-angle-double-up fa-2x" style="margin-top: 10px; color: #888" aria-hidden="true"></i> -->
                      </div>


                      <div class="news-content">

                      {{ entries:listing folder="/gata/gata-news" limit="10" show_past="true" show_future="true"}}
                    	    {{ if no_results }}
                    		  <p class="sorry">
                    			No news is good news.<br>
                    			Check back soon.
                    		  </p>
                    	    {{ else }}




                          <div class="news-item" style="border-bottom: 1px solid #bbb; margin-bottom: 10px; padding-bottom: 15px">
                          <div style="font-weight: 900; margin-top: 40px; line-height: 30px; text-transform: uppercase; font-family: 'Montserrat', sans-serif; font-weight: 700">
                            {{if updatedItem}}
                            <span style="font-weight: 400; color: #666" class="addUpdateLabel" data-postDate="{{date format='Y-m-d'}}"></span>
                            {{endif}}
                            <span style="font-weight: 400; color: #666" {{if !updatedItem}} class="" data-postType="news" data-postDate="{{date format='Y-m-d'}}"{{endif}}>{{ date }}</span> | <a href="{{ url }}">{{if displayTitle}}{{ displayTitle }}{{else}}{{title}}{{endif}}</a></div>

                              <div class="">
                              {{ content }}
                              </div>

                            </div>







                    	    {{ endif }}
                    	{{ /entries:listing }}
                    </div>

                    <div class="text-center" style="margin-top: 50px">
                    <a class="btn btn-default" href="/gata/gata-news" role="button" style="text-transform: uppercase; font-family: 'Montserrat', sans-serif; color: #fff; margin-bottom: 20px; color: #222">All News & Annoucements&nbsp;&raquo;</a>
                    </div>

                    </div>


                    <div class="">
                      <!-- <i class="scroll-reminder-down fa fa-angle-double-down" style="float: right; font-weight: 900; margin-top: 20px; color: #999" aria-hidden="true"></i> -->

                        <!-- <i class="scroll-reminder-up fa fa-angle-double-up fa-2x" style="margin-top: 10px; color: #888" aria-hidden="true"></i> -->
                    </div>


                      </div>


                      <div class="col-md-6 col-sm-12 col-xs-12" id="bg2">

                      </div>


            </div>
        </section>








        <section id="gata-overview">

        <div style="height: 60px" class="visible-sm visible-xs"></div>

          <div class="hero-heading">
            <div class="text-center">

                    <h1 class="h3 section-title">ICJIA GATA Overview</h1>


            </div>
          </div>
                            <div class="container-fluid" >
                              <div class="section-inner">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                           			<p class="lead">The <a href="http://ilga.gov/legislation/ilcs/ilcs3.asp?ActID=3559&ChapterID=7" target="_blank" style="font-weight: 400;">Grant Accountability and Transparency Act</a>, also known as GATA, was passed by the Illinois Legislature in 2014.</p>
                                    <p class="mb40">GATA confirms <a href="/">ICJIA's</a> commitment to the <a href="http://www.ecfr.gov/cgi-bin/text-idx?tpl=/ecfrbrowse/Title02/2cfr200_main_02.tpl">Federal Uniform Guidance 2 CFR 200</a>, which went into effect in December 2014.  The Uniform Guidance already applies to all federal grants and federal pass-through funds.
                                    GATA also requires Illinois' state grants to follow these federal rules for grants which are state funded.
                                    This landmark legislations will increase accountability and transparency in the use of grant funds.
                                    Once fully implemented, it will unify processes and reduce administrative burdens for state agencies and grantees.

                                  </p>
                                  <div class="text-center" style="margin-top: 25px">
                                  <a class="btn btn-default" href="/gata/overview" role="button" style="text-transform: uppercase; font-family: 'Montserrat', sans-serif; color: #fff; margin-bottom: 20px; color: #222">Read more&nbsp;&raquo;</a>
                                  </div>
                                </div>
                                <div class="col-md-7 col-md-offset-1 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <a href="/gata/opportunities">
                                        <div class="col-sm-6 hover">
                                            <div class="icon-box-1 mb30" data-mh="my-group">

                                                <div class="content-area">
                                                    <h3 class="h4 title">Grant Opportunities</h3>
                                                    <div class="content">Donec rutrum ligula in luctus ullamcorper. Donec vestibulum commodo iaculis. Morbi nisi metus, porttitor et ultrices ac, imperdiet eget tortor. Suspendisse congue purus eget. <strong>&raquo;</strong></div>
                                                </div>

                                            </div>
                                              </a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="/gata/documents">
                                            <div class="icon-box-1 mb30" data-mh="my-group">

                                                <div class="content-area">
                                                    <h3 class="h4 title">Documents</h3>
                                                    <div class="content">Maecenas tempor ligula vel leo ultricies varius. Mauris mi tellus, aliquet quis elit quis, vestibulum condimentum ipsum. Pellentesque lacinia ultrices nunc, sit amet facilisis ante condimentum in. Suspendisse mauris erat, laoreet ut tortor et, tristique pretium est. Nulla facilisi. <strong>&raquo;</strong></div>
                                                </div>

                                            </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-6 ">
                                          <a href="/gata/webinars">
                                            <div class="icon-box-1 mb30" data-mh="my-group">

                                                <div class="content-area">
                                                    <h3 class="h4 title">Webinars & PowerPoints</h3>
                                                    <div class="content">Curabitur ac neque sit amet massa porta aliquam id a metus. Nullam maximus nisi porta, elementum dolor ut, porttitor tortor.  <strong>&raquo;</strong></div>
                                                </div>
                                            </div>
                                          </a>
                                        </div>
                                        <div class="col-sm-6">
                                          <a href="gata/faqs">
                                            <div class="icon-box-1 mb30" data-mh="my-group">

                                                <div class="content-area">
                                                    <h3 class="h4 title">FAQs</h3>
                                                    <div class="content">Suspendisse mauris erat, laoreet ut tortor et, tristique pretium est. Nulla facilisi. Etiam a neque id mauris ultrices dignissim. <strong>&raquo;</strong></div>
                                                </div>
                                            </div>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                {{theme:partial src="gata-mobile-news"}}
