---
_fieldset: page
title: GATA Information Site
_template: default-blank
upload: ""
_layout: gata-default
breadcrumbs: 'false'
splash: /assets/mvtpc/img/mvtpc-car-01.jpg
keywords:
  - gata
  - grants
  - theft
summary: In 1991, the Illinois General Assembly established the Illinois Motor Vehicle Theft Prevention Council, an 11-member coalition uniquely comprising law enforcement and insurance industry officials, which has worked tirelessly to curtail vehicle theft, insurance fraud, and related crimes. Staff support to the Council is provided by the Illinois Criminal Justice Information Authority.
---
<style>






</style>
<div id="page-top">
</div>
<!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Content -->
<!-- <div class="intro-header" style="margin-top: 70px">

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <div class="intro-message">






          </div>
        </div>
      </div>
    </div>

  </div> -->
  <!-- /.intro-header -->
<!-- /.intro-header -->



<section id="about-us" style=" margin-top: 60px; margin-bottom: 30px;">

  <div class="hero-heading">
    <div class="text-center">

            <h1 class="h3 section-title">GATA Information at ICJIA</h1>


    </div>
  </div>
                    <div class="container-fluid" >
                      <div class="section-inner">
                    <div class="row">
                        <div class="col-md-4">
                   			<p class="lead">The <a href="http://ilga.gov/legislation/ilcs/ilcs3.asp?ActID=3559&ChapterID=7" target="_blank">Grant Accountability and Transparency Act</a>, also known as GATA, was passed by the Illinois Legislature in 2014.</p>
                            <p class="mb40">GATA confirms <a href="/">ICJIA's</a> commitment to the <a href="http://www.ecfr.gov/cgi-bin/text-idx?tpl=/ecfrbrowse/Title02/2cfr200_main_02.tpl">Federal Uniform Guidance 2 CFR 200</a>, which went into effect in December 2014.  The Uniform Guidance already applies to all federal grants and federal pass-through funds.
                            GATA also requires Illinois' state grants to follow these federal rules for grants which are state funded.
                            This landmark legislations will increase accountability and transparency in the use of grant funds.
                            Once fully implemented, it will unify processes and reduce administrative burdens for state agencies and grantees.</p>
                            <!-- <a class="btn btn-lg btn-primary btn-green page-scroll" href="#our-team" role="button">Read More</a> -->
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <div class="row">
                                <div class="col-sm-6 wow fadeIn mb40">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-camera"></i>
                                        <div class="content-area">
                                            <h3 class="h4 title">Grant Opportunities</h3>
                                            <div class="content">Enthusiastically seize bricks-and-clicks supply chains without open-source solutions. Objectively harness cross-media results for performance based.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn mb40">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-piggy"></i>
                                        <div class="content-area">
                                            <h3 class="h4 title">Documents</h3>
                                            <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong. Seamlessly underwhelm enterprise-wide.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-joy"></i>
                                        <div class="content-area">
                                            <h3 class="h4 title">FAQs</h3>
                                            <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeIn">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-micro"></i>
                                        <div class="content-area">
                                            <h3 class="h4 title">Training</h3>
                                            <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>




           <div class="container-fluid" style="border-top: 1px solid #bbb; background: #eee; color: #333; padding: 0; margin: 0;">
                 <div class="">


                      <div class="col-md-6 col-sm-12">

                        <div class="hero-heading" style="margin-top: -10px; margin-left: -15px; margin-right: -15px;">
                          <div class="text-center">

                                  <h2 class="h4 section-title">News & Announcements</h2>


                          </div>
                        </div>

                          <!-- <i class="scroll-reminder-up fa fa-angle-double-up" style="float: right; font-weight: 900; margin-top: 15px; color: #999; margin-left: 10px; margin-bottom: 30px; " aria-hidden="true"></i> -->

                        <div class="">


                            <!-- <i class="scroll-reminder-up fa fa-angle-double-up fa-2x" style="margin-top: 10px; color: #888" aria-hidden="true"></i> -->
                        </div>

                    <div id="news-scroller" class="contentHolder">



                      <div class="news-content">

                      {{ entries:listing folder="/tvpp/tvpp-news" limit="10" show_past="true" show_future="true"}}
                    	    {{ if no_results }}
                    		  <p class="sorry">
                    			No news is good news.<br>
                    			Check back soon.
                    		  </p>
                    	    {{ else }}




                          <div class="news-item" style="border-bottom: 1px solid #bbb; margin-bottom: 10px; padding-bottom: 15px">
                          <div style="font-weight: 900; margin-top: 40px; line-height: 30px; text-transform: uppercase; font-family: 'Montserrat', sans-serif; font-weight: 700">
                            {{if updatedItem}}
                            <span style="font-weight: 400; color: #666" class="addUpdateLabel" data-postDate="{{date format='Y-m-d'}}"></span>
                            {{endif}}
                            <span style="font-weight: 400; color: #666" {{if !updatedItem}} class="" data-postType="news" data-postDate="{{date format='Y-m-d'}}"{{endif}}>{{ date }}</span> | <a href="{{ url }}">{{if displayTitle}}{{ displayTitle }}{{else}}{{title}}{{endif}}</a></div>

                              <div class="">
                              {{ content }}
                              </div>

                            </div>







                    	    {{ endif }}
                    	{{ /entries:listing }}
                    </div>

                    <div class="text-center" style="margin-top: 50px">
                    <a class="btn btn-default" href="/tvpp/tvpp-news" role="button" style="text-transform: uppercase; font-family: 'Montserrat', sans-serif; color: #fff; margin-bottom: 20px; color: #222">All News & Updates&nbsp;&raquo;</a>
                    </div>

                    </div>


                    <div class="">
                      <!-- <i class="scroll-reminder-down fa fa-angle-double-down" style="float: right; font-weight: 900; margin-top: 20px; color: #999" aria-hidden="true"></i> -->

                        <!-- <i class="scroll-reminder-up fa fa-angle-double-up fa-2x" style="margin-top: 10px; color: #888" aria-hidden="true"></i> -->
                    </div>


                      </div>


                      <div class="col-md-6 hidden-xs" id="bg2">
                        <div class="text-container">



                        </div>
                      </div>
                 </div>
            </div>
        </section>
