

@import "../bourbon/bourbon"; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

@import '../materialize-src/sass/materialize.scss';










/* --------------------------------

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: $font-size;
		family: $body-font; // variables inside partials > _variables.scss
	}
	color: $main-text;
	background-color: $background;
}

a {
	color: $link;
	text-decoration: none;
	font-family: $body-font;
}

img {
	max-width: 100%;
}

h1, h2, h4 {
	font-family: $header-font;
	font-weight: bold;
	text-transform: uppercase;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

/* --------------------------------

Main components

-------------------------------- */

header {
	// height: 500px;
	// line-height: 200px;
	// text-align: center;
	// padding: 50px 50px 20px 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: $header;
	color: #fff;
	padding-left: 50px; padding-right: 50px;


	h1 {
		color: $color-3;
		@include font-size(24px);
	}

	@include MQ(L) {
		// height: 500px;
		// line-height: 400px;


		h1 {
			@include font-size(36px);
		}
	}
}


#section-1 {background: $section-1; }
#section-2 {background: $section-2; margin-top: 3px; }
#section-3 {background: $section-3; margin-top: 3px; }


#cd-timeline-1, #cd-timeline-2, #cd-timeline-3 {
	position: relative;
	padding: 3em 0 3em 0;
	margin: {
		top: .3em;
		bottom: 0em;
	}

	&::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: darken($background, 5%);
	}

	@include MQ(L) {
		margin: {
			top: .3em;
			bottom: 0em;
		}

		&::before {
			left: 50%;
			margin-left: -2px;
		}
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include MQ(L) {
		margin: 4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px $color-3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

	img {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}

	i {
		display: block;

		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -15px;
		margin-top: -16px;
		color: #fff;
	}

	&.cd-picture {
		background: $color-4;
	}

	&.cd-car {
		background: $color-4;
	}

	&.cd-child {
		background: $color-2;
	}

	&.cd-location {
		background: $color-5;
	}

	&.cd-movie {
		background: $color-5;
	}

	&.cd-bullhorn {
		background: $color-5;
	}

	@include MQ(L) {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;

		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			@include animation(cd-bounce-1 .6s);
		}




	}
}









@include keyframes(cd-bounce-1) {
	0% {
		opacity: 0;
		@include transform(scale(.5));
	}

	60% {
		opacity: 1;
		@include transform(scale(1.2));
	}

	100% {
		@include transform(scale(1));
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: $color-3;
	@include border-radius;
	padding: 1em;
	box-shadow: 0 3px 0 darken($background, 5%);
	@include clearfix;

	h2 {
		color: $color-1;
	}

	p, .cd-read-more, .cd-date {
		@include font-size(13px);
	}

	.cd-read-more, .cd-date {
		display: inline-block;
	}

	p {
		margin: 1em 0;
		line-height: 1.6;
	}

	.cd-read-more {
		float: right;
		// padding: .8em 1em;
		// background: $link;
		// color: $color-3;
		// @include border-radius;
		//
		// .no-touch &:hover {
		// 	background-color: lighten($link, 5%);
		// }
	}

	.read-more {
		float: right;


	}



	.cd-date {
		float: left;
		padding: .8em 0;
		opacity: .7;
	}

	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $color-3;
	}

	@include MQ(M) {
		h2 {
			@include font-size(20px);
		}

		p {
			@include font-size(16px);
		}

		.cd-read-more, .cd-date {
			@include font-size(14px);
		}
	}

	@include MQ(L) {
		margin-left: 0;
		padding: 1.6em;
		width: 45%;

		&::before {
			top: 24px;
			left: 100%;
			border-color: transparent;
			border-left-color: $color-3;
		}

		.cd-read-more {
			float: left;
		}

		.cd-date {
			position: absolute;
			width: 100%;
			left: 122%;
			top: 6px;
			@include font-size(16px);
		}

		.cd-timeline-block:nth-child(even) & {
			float: right;

			&::before {
				top: 24px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: $color-3;
			}

			.cd-read-more {
				float: right;
			}

			.cd-date {
				left: auto;
				right: 122%;
				text-align: right;
			}
		}

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			@include animation(cd-bounce-2 .6s);
		}
	}
}

@include MQ(L) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		@include animation(cd-bounce-2-inverse .6s);
	}
}

@include keyframes(cd-bounce-2) {
	0% {
		opacity: 0;
		@include transform(translateX(-100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(20px));
	}

	100% {
		@include transform(translateX(0));
	}
}

@include keyframes(cd-bounce-2-inverse) {
	0% {
		opacity: 0;
		@include transform(translateX(100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(-20px));
	}

	100% {
		@include transform(translateX(0));
	}
}

footer {
		background: $footer;
		padding: 50px 30px 50px 30px;
		color: $font-light;
}

footer h1 {
	text-align: center;
	padding-bottom: 30px;


}

.section-title {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		padding-top: 30px;
		padding-bottom: 12px;
		text-transform: uppercase;
		font-size: 36px;
		color: #fff;


	}

	.section-arrow {



		}



// Materialize overrides //

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: .8rem;
		letter-spacing: 1.1px;
    padding: 0;
    white-space: nowrap;
		text-transform: uppercase;
		font-weight: 900;
		padding-left: 20px;
		padding-right: 20px;
		font-family: 'Lato', sans-serif;
		background: #424242;
}

nav ul.right {padding-right: 15px;}



.modal.bottom-sheet {

    max-height: 65%;


}

.modal {

    overflow-y: scroll;

}


blockquote {

    border-left: 5px solid $font-light;
}

// .nav-wrapper {padding-left: 20px; padding-right: 20px;}
//


// .table-of-contents.fixed {
//     position: fixed
// }
//
// .table-of-contents li {
//     padding: 2px 0
// }
//
// .table-of-contents a {
//     display: inline-block;
//     font-weight: 300;
//     color: #757575;
//     padding-left: 20px;
//     height: 1.5rem;
//     line-height: 1.5rem;
//     letter-spacing: .4;
//     display: inline-block
// }
//
// .table-of-contents a:hover {
//     color: #a8a8a8;
//     padding-left: 19px;
//     border-left: 1px solid #ea4a4f
// }
//
// .table-of-contents a.active {
//     font-weight: 500;
//     padding-left: 18px;
//     border-left: 2px solid #ea4a4f
// }

// nav ul a:hover {
//     background-color: transparent;
// 		color: #fff;
// }

// .table-of-contents.fixed {
//     position: fixed
// }
//
// .table-of-contents li {
//     padding: 2px 0px;
// 		text-transform: uppercase;
// }
//
// .table-of-contents a {
//     display: inline-block;
//     font-weight: 300;
//     color: #fff;
//     padding-left: 20px;
//     height: 1.5rem;
//     line-height: 1.5rem;
//     letter-spacing: .4;
//     display: inline-block
// }
//
// .table-of-contents a:hover {
//     color: #fff;
//     padding-left: 20px;
//     border-left: 0px solid #ea4a4f;
// 		border-bottom: 1px solid #fff;
// 		padding-bottom: 6px;
// 		font-weight: 700;
// }
//
// .table-of-contents a.active {
//     font-weight: 900;
//     padding-left: 20px;
//     border-left: 0px solid #ea4a4f
// }




// .hero {
//     width: 100%;
//     background-image: url('http://www.delwinvriend.com/examples/hero/hero.jpg');
//     background-size: auto 100%;
//     background-position: center top;
//     background-repeat: no-repeat;
// }
// .hero_spacer {
//    width: 100%;
//    max-width: 960px;
//    margin: 0 auto;
// }
// .hero_spacer img {
//     width: 100%;
// }


// nav ul a:hover {
//     font-weight: 700;
// }



.hero {
	height: 500px;
  background: url('../img/hero2.jpg') no-repeat center center;
  background-size: cover;
	margin-top: -31px;
	margin-bottom: 2px;


  .intro {
    // padding: 3rem;
    position: relative;
    top: 67%;
    transform: translateY(-50%);

  }

	.hero-band {padding-right: 30px; padding-bottom: 20px; width: 100%; background: #222; opacity: .6}

  h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 400;
    text-align: center;
		font-family: 'Oswald', sans-serif;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
		font-family: 'Lato', sans-serif;
  }

  @media only screen and (min-width: 40.063em) {

    h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem;
			font-family: 'Oswald', sans-serif;
    }
    p {
      text-align: right;
    }
  }
}
